
  
  .aml-expert-container {
    display: flex;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #F5F6FB;
    display: flex;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .sidebar-expert-wrapper{
    position: relative;
    width: 320px;
  }
  .sidebar-expert {
    position: fixed;
    height: 96vh;
    width: 250px;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar-expert h2 {
    color: #1F3C88;
    font-weight: 700;
    font-size: 30px;
    padding: 30px;
  }
  .sidebar-expert h3 {
    color: #C4C4C4;
    font-weight: 600;
    font-size: 25px;
    padding-left: 30px;
  }
  
  .sidebar-expert ul {
    list-style: none;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-bottom: 1px solid #C4C4C4;
  }
  
  .sidebar-expert ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #C4C4C4;
  }
  
  .logout {
    color: #f00;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }

  .notification-container{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notification-container-wrapper{
    border-right: #E6E6E6 1px solid;
    padding-right: 10px;
  }
  .avatar-container{
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
  }
  .avatar-container-wrapper{
    padding-left: 10px;
    padding-right: 10px;
  }
  .dossier-wrapper{
    background-color: white;
    width: 90%;
    border-radius: 50px;
    margin-left: 90px;
  }
  .dossier-wrapper h2{
    color: #1F3C88;
    font-weight: 700;
    font-size: 30px;
    padding: 50px;
  }
  .dossier-wrapper .input-expert{
    padding: 15px;
    width: 93.5%;
    border-radius: 20px;
    border: 1px #E3E3E3 solid;
  }
  .input-wrapper{
    padding-left: 50px;
  }