.name-list-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.person-item{
    border: 1px solid #DAD8D8;
    background-color: #FAFAFA;
    border-radius: 30px;
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.person-item .person-item-empty {
    border: 1px solid #DAD8D8;
    background-color: #FAFAFA;
    padding: 5px;
    border-radius: 30px;
    width: 400px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #7D7D7D;
    justify-content: center;
    gap: 20px;
}
.person-item-information{
    padding: 9px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}