.header-v2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    color: #FFF;

    padding: 20px;
    box-sizing: border-box;

    font-family: Roboto, sans-serif;

    > .row:first-child {
        margin-bottom: 20px;
        width: 100%;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        .logo {
            max-width: 260px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            user-select: none;

            img {
                width: 40px;
                height: 40px;
            }

            span {
                font-size: 15px;
                letter-spacing: 110%;
                line-height: 20px;
            }
        }

        .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            flex: 1;
            max-width: 900px;

            .nav-item {
                position: relative;


                > div:first-child {
                    font-size: 18px;
                    font-weight: 400;


                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }

                    * {
                        color: #FFFFFF;
                        text-decoration: none;
                    }                    
                }

                > div:not(:first-child){
                    position: absolute;
                    top: 30px;
                    left: 0px;
                    // transform: translate(calc(-100% - 10px));

                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    background-color: rgba(92, 92, 92, 0.842);
                    border: 1px solid rgba(112, 112, 112, 0.6);
                    backdrop-filter: blur(5px);

                    z-index: 3;

                    > div {
                        padding: 15px;
                        cursor: pointer;
            
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.178);
                        }
                    }
                }
            }
        }

        .actions {
            display: flex;
            flex-direction: row;
            align-items: center;

            width: max-content;

            .eye {
                margin-right: 30px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid #7289BB;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                > * {
                    font-size: 25px;
                }
            }

            .lang {
                position: relative;

                > div:first-child {
                    margin-right: 8px;
                    width: 80px;
                    height: 40px;

                    padding: 10px 15px;
                    box-sizing: border-box;

                    border: .5px #7289BB solid;
                    border-radius: 10px;
                    background-color: rgba($color: #7B7B7B, $alpha: .13) ;

                    cursor: pointer;

                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                    align-items: center;

                    span {
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                }

                > div:not(:first-child) {
                    position: absolute;

                    transform: translateY(5px);

                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    background-color: rgba(92, 92, 92, 0.842);
                    border: 1px solid rgba(112, 112, 112, 0.6);
                    backdrop-filter: blur(5px);

                    z-index: 3;

                    > div {
                        cursor: pointer;
                    }

                }
            }

            .signIn {
                background-color: #0D0D0D;
                border-radius: 10px;

                width: 120px;
                height: 40px;

                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                font-size: 15px;
                font-weight: 600;

                user-select: none;

                * {
                    color: inherit;
                    text-decoration: inherit;
                }

                &:hover {
                    background-color: #292929;
                }

                &:active {
                    background-color: #000000;
                }
            }   

            .user-avatar {
                width: 35px;
                height: 35px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                background-color: #889fda;
                border: 4px solid #1F3C88;
                border-radius: 50%;

                user-select: none;
                cursor: pointer;
            }

        }
    }


    
}