.container {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding-top: 20px;
}

.item-container {
  flex: 1;
  padding: 16px;
  background: rgba(217, 217, 217, 0.13);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.zones-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  background: rgba(217, 217, 217, 0.13);
  border-radius: 10px;
}
