.learning-format-card .learning-format-main-body{
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 2px 19px 3px rgba(232, 229, 229, 0.75);
    -webkit-box-shadow: 0px 2px 19px 3px rgba(232, 229, 229, 0.75);
    -moz-box-shadow: 0px 2px 19px 3px rgba(232, 229, 229, 0.75);
    height: 350px;
    width: 400px;
}
.learning-format-card:hover{
    scale: 1.05;
    transition: 0.3s;
}
.learning-format-card .learning-format-main-body .text{
    padding: 20px;
    height: 200px;
    font-weight: 100;
    line-height: 1.6;
    font-size: 17px;
    color: #3A3939;

}
.learning-format-card .learning-format-main-body .button-div button{
    border: 1px solid #1F3C88;
    color: #1F3C88;
    background-color: #ffffff00;
    padding: 6px;
    border-radius: 8px;
    margin-right: 20px;
}
.learning-format-card .learning-format-main-body .button-div button:hover{
    color: white;
    background-color: #1F3C88;
    scale: 1.05;
    transition: 0.3s;
}
.learning-format-card .learning-format-main-body .button-div{
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.learning-format-card .header-wrapper .header{
    padding: 10px 25px 10px 25px;
    border: 1px solid #1F3C88;
    color: white;
    background-color: #1F3C88;
    border-radius: 10px;
    width: fit-content;
    font-size: 20px;
    position: absolute;
    top: -22px;
}
.learning-format-card .header-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}