.container {
    /* width: 80%; */
    max-width: 1240px;

    margin: 0 auto;
}

.headline {
    color: #343434;
    font-size: 26px;
    font-weight: 700;
    margin-top: 117px;
    margin-bottom: 30px;
}

.charterContent {
    margin-top: 61px;
}

.charterGrid {
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center; 
}

.linesGrid {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 332px; 
    justify-items: center; 
}

.card__link {
    text-decoration: none;
}

.firstCardContainer {
    grid-column: span 2; 
}

.bottomCardsGrid {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 162px; 
    justify-items: center; 
}

.card {
    width: 300px;
    min-height: 392px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: inherit;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__title {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 12px;
}

.card__img {
    width: 252px;
    height: 276px;
    object-fit: cover;
    border-radius: 5px;
}

.card__text {
    margin-top: 16px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

}

.accordion {
    background: inherit;
    padding: 28px 24px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 132px;
}

.accordionContent ol {
    background: inherit;
    list-style-type: decimal;
    margin-top: 10px;
}

.accordionContent ul {
    background: inherit;

    list-style-type: disc;
    margin-top: 10px;
}

.accordionContent {
    background: inherit;

    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

@media (max-width: 768px) {
    .charterGrid,
    .linesGrid,
    .bottomCardsGrid {
        grid-template-columns: 1fr;
    }
}