.image-and-columns {
    width: 100%;
    padding: 0px 170px;

    @media (min-width: 1500px) {
        padding: 0px 250px;
    }

    @media (min-width: 1700px) {
        padding: 0px 300px;
    }

    @media (min-width: 1900px) {
        padding: 0px 350px;
    }

    @media (min-width: 2100px) {
        padding: 0px 450px;
    }

    box-sizing: border-box;

    .wrapper {
        display: flex;
        flex-direction: column;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.342), 0 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
    }

    .image {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
        width: 100%;

        img {
            width: 100%;
        }

        .header {
            position: absolute;
            bottom: 20px;
            left: 20px;

            max-width: 900px;
            width: 80%;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0px 6px rgba(0, 0, 0, 0.342), 0 1px 3px rgba(0, 0, 0, 0.603);

            font-family: Ubuntu;
            font-size: 20px;
            font-weight: 600;
            line-height: 120%;

            @media (max-width: 800px) {
                position: unset;     
                // bottom: 0px;           
                // left: 0px;

                box-shadow: none;
                box-sizing: border-box;
                padding: 15px;
                width: 100%;
                background-color: transparent;
            }
        }
    }

    .columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Default to 2 columns */

        .column {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;

            font-family: Ubuntu;
            font-size: 16px;
        }

        .column+.column {
            border-left: 2px solid black;
        }
        
        /* For medium-sized screens, use 3 columns */
        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(3, 1fr);
        }
        
        /* For large screens, use 4 columns */
        @media screen and (min-width: 900px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 600px) {
            .column+.column {
                border: none;
            }
        }
    }
    
    
    
}