.create-news-page {

    .body {
        padding: 100px;
        display: flex;
        flex-direction: column;

        .page-title {
            font-family: 'Ubuntu';

            font-size: 28px;
            font-weight: 500;
            padding-bottom: 24px;

            color: #374761;
        }

        .create-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            width: 1000px;

            > div {
                display: flex;
                flex-direction: row;
                align-items: center;

                label {
                    // padding-left: 10px;
                    width: 200px;
                    color: #374761;
                    font-size: 18px;
                    font-weight: 400;
                }

                textarea {
                    resize: vertical;
                    width: 800px;

                    padding-left: 10px;
                    padding-top: 10px;
                    border-radius: 5px;
                    border: 1px solid rgba(55, 71, 97, 0.21);
                    background: #FFF;
                }

                input[type="text"] {
                    width: 400px;
                    height: 32px;

                    padding-left: 10px;
                    border-radius: 5px;
                    border: 1px solid rgba(55, 71, 97, 0.21);
                    background: #FFF;
                }
            }

            .actions {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 20px;

                > div {
                    margin-top: 25px;
                    cursor: pointer;
                    padding: 15px;
                    border-radius: 5px;
                    background: #a6b8d6;

                    .loading {
                        opacity: 0.5;
                    }

                    &:nth-child(1) {
                        background: #7d98c7;
                    }

                    &:nth-child(2) {
                        background: #a6b8d683;
                    }
                }
            }
        }
    }
}
.news-lang{
    padding: 5px;
    border-radius: 5px;
}