.info-card-container{
    width: 360px;
    height: 220px;
    background-color: #1F3C88;
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    .info-card{
        width: 340px;
        height: 207px;
        border: 1px black solid;
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        .info-card-wrapper{
            border-radius: 10px;
            width: 286px;
            height: 147px;
            .info-card-header{
                border: 1px black solid;
                border-radius: 5px;
                background-color: #1F3C88;
                color: white;
                text-align: center;
                font-weight: 600;
                margin-bottom: 15px;
            }
            .info-card-main{
                display: flex;
                justify-content: space-between;
                .info-card-img{
                    img{
                        height: 107px;
                        border-radius: 8px;
                    }
                }
                .info-card-personal-info{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    span{
                        border: 1px black solid;
                        text-align: center;
                        background-color: #B3C9EA;
                        font-size: 12px;
                    }
                }   
            }
        }
    }
}