.tooltip {
    position: relative;
    display: inline-block;
    line-height: 1.5;
    text-align: left;
    font-size: x-large;
  }
  
  .highlight {
    position: relative;
    background-color: rgb(61, 78, 232);
    color: #fff;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    white-space: nowrap;
  
    
  }
  .highlight:hover .tooltip-text {
    display: block;
  }
  
  .highlight:hover::before {
    content: attr(randomText);
    position: absolute;
    background-color: #0004f7;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    top: 100%;
    width: 500px;
    height: max-content;
    right: -150%;
    white-space: normal;
    z-index: 1000000;
  }
  .BtnToolTipLupa{
    color: #fff;
    padding: 5px;
    margin-top: 1%;
    background-color: #0004f7;
    border: none;
  }
  