.questionnaire-page {
    padding-bottom: 250px;

    * {
        font-family: Ubuntu;
    }
    input[type=text] {
        border: none;
        border-bottom: 1px solid rgba(55, 71, 97, 0.21);
        background: #FFF;
        transition: all 0.5s ease;
        
        &:focus {
            border: none;
            border-bottom: 1px solid rgba(55, 71, 97, 0.651);
            outline: none;
            
            transition: all 0.5s ease
        }
    }

    .title-input {
        margin-top: 25px;
        font-size: 18px;
        color: #374761;

        padding: 4px;
        padding-left: 10px;
        width: 80%;
    }

    .text {
        font-size: 24px;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .questions-block {
        // width:calc(100vw - 40%);
        padding-right: 40px;
        width: 40vw;
        overflow:unset;
        display: flex;
        flex-direction: column;
        gap: 25px;
        
        .single-question-block {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            padding-bottom: 35px;

            border-bottom: 1px solid rgba(55, 71, 97, 0.21);

            .title-type {
                display: flex;
                width: 100%;
                gap: 5px;


                .question-title {
                    width: 90%;
                    border: none;

                    font-size: 18px;
                    font-weight: 500;
                    color: #374761;


                }

                .select-question-type {
                    width: 10%;
                }

                position: relative;
                .number {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                
                    width: 30px;
                    position: absolute;
                    // text-align: right;
                    top: -3px;
                    left: -35px;
                    
                    a {
                        color: #37476152;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

                .delete-question {
                    cursor: pointer;
                    position: absolute;
                    right: -15px;
                    top: 3px;

                    display: none;
                }

            }
            &:hover {
                .delete-question {
                    display: block;
                }
            }
            
            .answers-block {
                display: flex;
                flex-direction: column;
                gap: 15px;
                width: 100%;

                .answer-mark-mcqOptionList {
                    width: 100%;
                    display: flex;
                    gap: 5px;

                    input[type=text] {
                        width: 70%;
                    }
                }
                .answer-mark-matchingPairs {

                    width: 95%;
                    display: flex;
                    gap: 15px;

                    input[type=text] {
                        width: 45%;
                    }
                }
            }

            .add-new-answer {
                svg {
                    cursor: pointer;
                }
            }
        }
    }

    .add-new-question {
        padding-top: 25px;
    } 

}