/* style.css */
.level-summary-container {
    width: 47%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 100px;
    margin-left: 100px;
    margin-top: 60px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #d9d9d945;
}

.header {
    padding: 20px;
    padding-left: 40px;
    color: white;
    font-weight: bold;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.circle {
    position: absolute;
}

.circle-inner {
    width: 150px; /* Увеличено в полтора раза */
    height: 150px; /* Увеличено в полтора раза */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.circle-percentage {
    font-size: 24px;
    font-weight: bold;
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.3s;
    transform: rotate(-90deg);
    border-radius: 50%;
    transform-origin: 50% 50%;
}

.score {
    font-size: 18px;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px 40px 20px 40px;
}

.recommendations-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding: 10px 40px 10px 40px;
    text-align: left;
}

.recommendations {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px 40px 20px 40px;
}

.reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgba(31, 60, 136, 0.7);
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.reset-button:hover{
    scale: 1.05;
    transition: 0.3s;
}

.reset-button .icon {
    margin-right: 8px;
}
