.container {
    /* width: 80%; */
    max-width: 1240px;
    margin: 0 auto;
}

.headline {
    margin-top: 102px;
    color: #343434;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.boardOfDirectors {
    margin: 55px 0 107px;
    display: flex;
    justify-content: space-between;
}

.director {
    width: 172px;
}

.name {
    margin-top: 8px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.post {
    margin-top: 8px;
    color: #000;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}