/* QuizQuestion.scss */
.quiz-question {
    text-align: left;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .questionQuiz {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .optionsQuiz {
    display: flex;
    justify-content: center; /* Центрирование вариантов ответов по горизонтали */
    height: 300px;
    
  }
  
  .optionQuiz {
    margin: 0 10px; /* Небольшие отступы между вариантами ответов */
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s;
  }
  

  
  .correctQuiz {
    background-color: #aaffaa;
  }
  
  .incorrectQuiz{
    background-color: #ffaaaa;
  }
  
  .buttonQuiz {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttonQuiz:hover {
    background-color: #3c75d2;
  }
  