
.directorPageWrapper {
    background: inherit;
}
.container {
    /* width: 80%; */
    max-width: 1240px;
    margin: 0 auto;
}

.card {
    margin: 150px 0 150px;
    display: flex;
    gap: 20px;
}

.card__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card__img {
    width: 301px;
    height: 369px;
    object-fit: cover;
    border-radius: 5px;
}

.card__title {
    color: #3A3939;
    font-size: 20px;
    font-weight: 500;
}

.card__name {
    color: #3A3939;
    font-size: 18px;
    font-weight: 500;
    margin: 28px 0 31px;
}

.card__text {
    min-height: auto;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px; /* 127.778% */
}

.btn {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    width: 150px;
}