.HomeGame{
    justify-content: center;
    .WelcomeGame{
        width: 100%;
        display: flex;
        justify-content: center;
        .WelcomeGameWrapper{
            display: flex;
            width: 80%;
            .WelcomeLeftPart{
                width: 50%;
                .WelcomeLeftPartBottom{
                    margin-top: 50px;
                    border-radius: 15px;
                    border: 3px #193685b2 solid;
                    width: 470px;
                }
            }
            .WelcomeRightPart{
                display: block;
                width: 50%;
                .WelcomeRightPartTop{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: 120px;
                    gap: 20px;
                    .WelcomeRightPartTop1{
                        display: block;
                        text-align: center;
                        background-color: #4D70CC;
                        border-radius: 15px;
                        width: 230px;
                    } 
                    .WelcomeRightPartTop2{
                        display: block;
                        text-align: center;
                        background-color: white;
                        border:  4px #4D70CC solid;
                        border-radius: 15px;
                        width: 230px;

                    }
                }
                .WelcomeRightPartBottom{
                    margin-top: 50px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .WelcomeRightPartBottom1{
                        background-color: #5C6687;
                        border-radius: 15px;
                        display: flex;
                        width: 490px;
                        align-items: center;
                        margin-bottom: 20px;
                    }
                    .WelcomeRightPartBottom2{
                        background-color: #eceef2 ;
                        border-radius: 15px;
                        display: flex;
                        width: 490px;
                        align-items: center;
                    }
                }

            }
        }
    }
}