.HomeGame{
    justify-content: center;
    .WelcomeGame{
        width: 100%;
        display: flex;
        justify-content: center;
        .WelcomeGameWrapper{
            display: flex;
            width: 80%;
            .WelcomeLeftPart{
                width: 50%;

                .WelcomeLeftPartBottom{
                    margin-top: 50px;
                    border-radius: 15px;
                    border: 3px #193685b2 solid;
                    width: 430px;
                }
            }
        }
    }
}