.one-to-four {
    width: 100%;

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .oneToFour {
            // padding: 5px 0px;
            margin: 0 auto;
            width: 100%;
        
            .header-wrapper {
                width: 100%;
            }

            .header {
                position: relative;
                margin: 0 auto;
        
                width: 500px;
                padding: 30px 120px;

                &.v2 {
                    padding: 30px 0px;
                }

                box-sizing: border-box;
        
                border-radius: 5px;
                background: #F9F9F9;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        
                .text {
                    // margin: 0 auto;
        
                    color: #3A3939;
        
                    text-align: center;
                    /* H1 */
                    font-family: Ubuntu;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 100% */
                }
        
                .open {
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translate(-50%, 50%);
        
                    background-color: #FFF;
                    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
        
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
        
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;
                }
            }

            .body-wrapper {
                width: 100%;
                padding: 50px 0px;
            }

            .body {
                width: max-content;
                margin: 0 auto;
            
                display: grid;
                grid-template-columns: 500px 500px;
                gap: 20px 147px;

                @media (max-width: 1250px) {
                    gap: 20px 50px;
                }

                @media (max-width: 1100px) {
                    grid-template-columns: 350px 350px;
                }

                @media (max-width: 800px) {
                    grid-template-columns: 500px;
                }

                place-items: center; /* Aligns content to center both horizontally and vertically */
            
                > div {
                    width: 100%;
                    min-height: 200px;
                    height: max-content;

                    padding: 15px;
                    &.v2 {
                        > * {
                            padding: 0px;
                        }
                    }
                    box-sizing: border-box;
            
                    border-radius: 5px;
                    background: #F9F9F9;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                    ul {
                        
                        li {
                            list-style-type: disc;
                            list-style-position: inside;
                            
                        }
                    }
                    
                }
            }
        }
    }
}