.container {
    max-width: 1140px;
    margin: 0 auto;
}

.headline {
    color: #343434;
    font-size: 26px;
    font-weight: 700;
    margin: 129px 0 24px;
}

.charterContent {
    display: flex;
    justify-content: center;
    margin: 60px 0 160px;
}