.tabSliderContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.tabButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px; 
}

.tabButtons button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    font-size: 16px;
}

.tabButtons button.active {
    color: #1F3C88;
}

.cardContent {
    /* width: 320px; */
    width: 85%;
    height: 210px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 22px;
    display: flex;
    flex-direction: column;
}

.cardContainer {
    height: 305px;
}

.cardImg {
    width: 256px;
    height: 115px;
    object-fit: cover;
    border-radius: 10px;
}

.cardTitle {
    height: 30px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.cardBtn {
    padding: 7px 18px;  
}

.newsImg {
    /* width: 320px; */
    height: 125px;
    object-fit: cover;
    border-radius: 10px;
}

.dateContent {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.date {
    display: flex;
    align-items: center;
}

.dateTime {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    margin-left: 6px;
}

.video {
    width: 320px;
    height: 115px;
}