
  .details-modal {
    padding: 25px;
    border-radius: 7px;
    right: 1135px;
    position: absolute;
    z-index: 99999999999999999999999999999999999999999;
 
  
  
    .details-content {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: center;
      width: 1100px !important;
      border: 7 px solid #4caf50;
      overflow-y:visible;
      
      .details-info {
        width: 1100px !important;
      }
  
      .details-button {
        margin-top: 10px;
        background-color: #4caf50;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
  
      .details-button1 {
        margin-top: 10px;
        background-color: #3a3b6b;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  
}