.not-numbered-dots-header {
    padding: 0px 70px;
    margin: 0 !important;

    @media (min-width: 1500px) {
        padding: 0px 150px;
    }

    @media (min-width: 1700px) {
        padding: 0px 200px;
    }

    @media (min-width: 1900px) {
        padding: 0px 250px;
    }
}

.not-numbered-dots {
    width: 100%;
    padding: 0px 70px;

    @media (min-width: 1500px) {
        padding: 0px 150px;
    }

    @media (min-width: 1700px) {
        padding: 0px 200px;
    }

    @media (min-width: 1900px) {
        padding: 0px 250px;
    }

    display: flex;
    flex-direction: column;
    gap: 27px;

    box-sizing: border-box;

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        > span {
            margin-top: 5px;

            width: 10px;
            height: 10px;
            padding: 5px;
            border-radius: 50%;

            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: center;

            color: #3A3939;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;

            line-height: 26px; /* 144.444% */

            .bold {
                font-weight: 600;
            }
        }

        > p {
            margin: 0;
            padding: 0;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            line-height: 140%; /* 22.4px */

            * {
                padding: 0px;
            }
        }
    }
}