/* VerticalCarousel.scss */
.vertical-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px; /* Adjust as needed */
}

.carousel-window {
  position: relative;
  width: 100%;
  height: 250px; /* Adjust as needed */
  overflow: hidden;
}

.carousel-card {
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.carousel-card.active {
  opacity: 1;
  transform: translate(30px, 30px);
  z-index: 2;
}

.carousel-card.prev {
  opacity: 0.5;
  transform: translate(15px, 15px);
  z-index: 1;
}

.carousel-card.next {
  opacity: 0.5;
  transform: translate(0px, 0px);
  z-index: 1;
}

.carousel-card.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

button {
  color: #007BFF;
  font-size: 20px;
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

button:disabled {
  color: #16181a;
  cursor: not-allowed;
}

button:focus {
  outline: none;
}
