.level-progress-container {
    width: 80%;
    height: fit-content;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 250px;
    margin-top: 60px;
    background-color: #d9d9d945;
}

.level-header {
    padding: 25px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.level-title {
    font-size: 18px;
}

.sublevel-container {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sublevel-title {
    font-size: 16px;
    color: #333;
}

.progress-bar-container {
    display: flex;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.progress-bar {
    height: 10px;
}

.remaining-bar {
    height: 10px;
    background-color: #d9d9d9;
}

.status {
    font-size: 14px;
    color: #666;
    text-align: right;
}
