.my-courses-page {
    position: relative;

    > div:first-child {
        background-color: inherit;
    }

    .container {
        padding: 0px 120px;
    }

    .page-content {
     
        h1 {
            margin-top: 50px;

            font-family: 'Ubuntu';
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: #343434;

            margin-bottom: 20px;
        }

        h2 {
            font-family: 'Ubuntu';
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-align: left;

            margin-bottom: 20px;
        }

        h3 {
            font-family: 'Ubuntu';
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            text-align: left;

            margin-bottom: 15px;
        }

        p {
            font-family: 'Ubuntu';
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;

            margin-bottom: 15px;
        }

        .courses-block {
            margin-top: 20px;
            width: 100%;

            .loading {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                gap: 20px;
                grid-auto-flow: dense;
            }
            
            .loading > div {
                height: 400px;
                width: 100%;
                background: linear-gradient(90deg, #f0f0f0, #f8f8f8, #f0f0f0); /* Lighter gradient for the loading effect */
                box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
                animation: loadingAnimation 2s infinite linear; /* Animation applied to the div */

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            @keyframes loadingAnimation {
                0% {
                    background-position: -200% 0; /* Initial position off the left side of the container */
                }
                25% {
                    background-position: -100% 0; /* Initial position off the left side of the container */
                }
                50% {
                    background-position: 0 0; /* Initial position off the left side of the container */
                }
                75% {
                    background-position: 100% 0; /* Initial position off the left side of the container */
                }
                100% {
                    background-position: 200% 0; /* Moves completely to the right */
                }
            }

            .courses-list {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Change the minimum width as needed */
                gap: 20px;
                grid-auto-flow: dense;

                > div {
                    width: 100%;
                    border-radius: 5px;
                    background: #FFFEFE;
                    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    cursor: pointer;

                    &:hover {
                        transform: scale(102%, 102%);
                    }

                    img {
                        border-radius: 5px 5px 0px 0px;
                        width: 100%;
                        height: 250px;
                        object-fit: cover;

                        margin-bottom: 10px;
                    }

                    .info {
                        padding: 0px 18px;

                        display: flex;
                        flex-direction: column;
                    }

                    .course-name {
                        color: #3A3939;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        margin-bottom: 17px;
                    }

                    .status {
                        width: max-content;

                        color: #3A3939;
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        border-radius: 5px;
                        background: #CADEFC;

                        padding: 8px 40px;

                        margin-bottom: 10px;
                    }

                    .info-row {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        margin-bottom: 20px;

                        .langAndDuration {
                            color: #747474;
                            font-family: Inter;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        .rating {
                            display: flex;
                            align-items: center;
                            gap: 3px;

                            .star-icon {
                                color: #1F3C88;
                            }
                        }
                    }

                    .type {
                        color: #747474;
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        display: flex;
                        align-items: flex-end;
                        gap: 10px;
                        padding: 15px;

                        position: relative;
                        margin-top: auto;
                        
                        border-top: #E2E2E2 1px solid;

                        > * {
                            color: inherit;
                        }
                    }
                }
            }
            
            margin-bottom: 73px;
        }
    }
}