.just-image {
    display: inline;
    padding: 0px 70px;

    @media (min-width: 1500px) {
        padding: 0px 150px;
    }

    @media (min-width: 1700px) {
        padding: 0px 200px;
    }

    @media (min-width: 1900px) {
        padding: 0px 250px;
    }

    width: max-content;
    box-sizing: border-box;
    height: max-content;

    > img {
        width: 100%;
    }
}