// DraggableOption/style.scss
.draggable-option {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
    margin-left: 14%;
    margin-right: 14%;
    cursor: move;
  }
  .RandomDiv{
    text-align: left;
    font-size: x-large;
    line-height: 1.7;
    font-family: Ubuntu, Montserrat;
  }
  .RandomDiv1{
    text-align: left;
    font-size: x-large;
    line-height: 1.7;
    font-family: Ubuntu, Montserrat;
  }
  