
.numbered-dots-header {
    // padding: 0px 70px;
    
    @media (min-width: 1500px) {
        padding: 0px 80px;
    }

    @media (min-width: 1700px) {
        padding: 0px 130px;
    }

    @media (min-width: 1900px) {
        padding: 0px 180px;
    }

    font-family: Ubuntu;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
}

.numbered-dots {
    width: 100%;
    padding: 0px 70px;
    
    @media (min-width: 1500px) {
        padding: 0px 150px;
    }

    @media (min-width: 1700px) {
        padding: 0px 200px;
    }

    @media (min-width: 1900px) {
        padding: 0px 250px;
    }

    * {
        padding: 0px;
    }
    // margin-top: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    box-sizing: border-box;

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        > span {
            width: 40px;
            height: 40px;
            padding: 15px;
            border-radius: 50%;

            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: center;

            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px; /* 144.444% */
        }

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            > p {
    
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */

                > * {
                    padding: 0px;
                }
            }
        }
    }
}