.catalog-page {
    position: relative;

    > div:first-child {
        background-color: white;
        padding-bottom: 50px;
    }

    .container {
        // max-width: 1140px;
        padding: 0px 120px;
        // margin: 0 auto;
    }

    .page-content {
     
        h1 {
            // margin-top: 50px;

            font-family: Roboto;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: #343434;

            margin-bottom: 20px;
        }

        h2 {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-align: left;

            margin-bottom: 20px;
        }

        h3 {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            text-align: left;

            margin-bottom: 15px;
        }

        p {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;

            margin-bottom: 15px;
        }

        .catalog-header {
            width: 100%;

            .container {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;

                box-sizing: border-box;

            }
            
            .header-title {

                h3 {
                    color: #3A3939;

                    font-family: Inter;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                padding: 0;
                margin-top: 50px;
                margin-bottom: 74px;
            }

            .header-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 41px;

                padding: 15px 10px 10px 10px;
                border-radius: 5px;
                background: #FFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                .filters {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 32px;

                    color: #3A3939;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    > div {
                        position: relative;

                        > div:nth-child(1) {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;
                            cursor: pointer;

                            user-select: none;
                        }

                        .categories, 
                        .filter {
                            position: absolute;

                            min-width: max-content;
                            width: 200px;
                            padding: 32px 32px 32px 32px;

                            background-color: white;
                            border: 1px solid rgb(223, 223, 223);
                            border-radius: 5px;

                            // display: none;
                            flex-direction: column;
                            gap: 15px;

                            z-index: 2;

                            > div {
                                display: flex;
                                flex-direction: row;
                                gap: 8px;

                                font-size: 1.1rem;
                                font-family: Ubuntu;
                            }
                        }
                    }
                }

                .search {
                    width: 270px;
                    position: relative;

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    input {
                        border-radius: 5px;
                        border: 1px solid #FFF;
                        height: 30px;
                        width: 100%;
                        background-color: #fff;
                        outline: none;
                        color: #3A3939;
                        font-size: 16px;
                        padding-left: 30px;
                        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Inner shadow */
                    }
                    
                    input:focus {
                        border: 1px solid #c3c1c1;
                        transform: scale(102%, 102%);
                    }
                    

                    .icon {
                        position: absolute;
                        left: 9px;
                        color: #3A3939;
                        cursor: pointer;
                        z-index: 1;
                    }
                }
            }

        }

        .loading {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            grid-auto-flow: dense;
        }
        
        .loading > div {
            height: 400px;
            width: 100%;
            background: linear-gradient(90deg, #f0f0f0, #f8f8f8, #f0f0f0); /* Lighter gradient for the loading effect */
            box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
            animation: loadingAnimation 2s infinite linear; /* Animation applied to the div */

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        @keyframes loadingAnimation {
            0% {
                background-position: -200% 0; /* Initial position off the left side of the container */
            }
            25% {
                background-position: -100% 0; /* Initial position off the left side of the container */
            }
            50% {
                background-position: 0 0; /* Initial position off the left side of the container */
            }
            75% {
                background-position: 100% 0; /* Initial position off the left side of the container */
            }
            100% {
                background-position: 200% 0; /* Moves completely to the right */
            }
        }

        .courses-block {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Change the minimum width as needed */
            gap: 20px;
            grid-auto-flow: dense;
            justify-content: center; /* Center horizontally */
            align-content: center;
            
            > div {
                width: 100%;
                border-radius: 5px;
                background: #FFFEFE;
                box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &:hover {
                    transform: scale(102%, 102%);
                }

                cursor: pointer;

                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;

                    margin-bottom: 10px;
                }

                .info {
                    padding: 0px 18px;
                }

                .course-name {
                    color: #3A3939;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                    margin-bottom: 17px;
                }

                .status {
                    width: max-content;

                    color: #3A3939;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    border-radius: 5px;
                    background: #CADEFC;

                    padding: 8px 40px;

                    margin-bottom: 32px;
                }

                .info-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    margin-bottom: 20px;

                    .langAndDuration {
                        color: #747474;
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .rating {
                        display: flex;
                        align-items: center;
                        gap: 3px;

                        .star-icon {
                            color: #1F3C88;
                        }
                    }
                }

                .type {
                    color: #747474;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 15px;
                    
                    border-top: #E2E2E2 1px solid;

                    > * {
                        color: inherit;
                    }
                }
            }

            margin-bottom: 73px;
        }
    }
}