.catalog-page {
    // position: relative;

    > div:first-child {
        padding-bottom: 50px;
    }

    .container {
        // max-width: 1140px;
        // padding: 0px 120px;
        // margin: 0 auto;
    }

    .page-content {
     
        h1 {
            // margin-top: 50px;

            font-family: 'Ubuntu';
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: #343434;

            margin-bottom: 20px;
        }

        h2 {
            font-family: 'Ubuntu';
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-align: left;

            margin-bottom: 20px;
        }

        h3 {
            font-family: 'Ubuntu';
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            text-align: left;

            margin-bottom: 15px;
        }

        p {
            font-family: 'Ubuntu';
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;

            margin-bottom: 15px;
        }

        
        .catalog-header {
            width: 100%;
            
            .container {
                width: 100%;
                height: 100%;
                
                display: flex;
                flex-direction: column;
                
                box-sizing: border-box;
                
            }
            
            .header-title {
                
                h3 {
                    color: #3A3939;
                    
                    font-family: Inter;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                
                padding: 0;
                margin-top: 50px;
                margin-bottom: 74px;
            }
            
            .header-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                margin-bottom: 41px;
                
                padding: 15px 10px 10px 10px;
                border-radius: 5px;
                background: #FFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.116);
                border: 1px solid rgba(128, 128, 128, 0.356);
                
                .filters {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 32px;
                    
                    color: #3A3939;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    
                    > div {
                        position: relative;
                        
                        .inline-text {
                            font-size: 'Ubuntu';
                        }
                        
                        
                        > div:nth-child(1) {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;
                            cursor: pointer;
                            
                            font-family: 'Ubuntu';
                            user-select: none;
                        }
                        
                        .categories, 
                        .filter {
                            position: absolute;
                            
                            min-width: max-content;
                            width: 200px;
                            padding: 32px 32px 32px 32px;
                            
                            background-color: white;
                            border: 1px solid rgb(223, 223, 223);
                            border-radius: 5px;
                            
                            // display: none;
                            flex-direction: column;
                            gap: 15px;
                            
                            z-index: 2;
                            
                            * {
                                font-family: 'Ubuntu';
                            }
                            
                            > div {
                                display: flex;
                                flex-direction: row;
                                gap: 8px;
                            }
                        }
                    }
                }
                
                .search {
                    width: 270px;
                    position: relative;
                    
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    input {
                        border-radius: 5px;
                        border: 1px solid #FFF;
                        height: 30px;
                        width: 100%;
                        background-color: #fff;
                        outline: none;
                        color: #3A3939;
                        font-size: 16px;
                        padding-left: 30px;
                        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Inner shadow */
                    }
                    
                    input:focus {
                        border: 1px solid #c3c1c1;
                        transform: scale(102%, 102%);
                    }
                    
                    
                    .icon {
                        position: absolute;
                        left: 9px;
                        color: #3A3939;
                        cursor: pointer;
                        z-index: 1;
                    }
                }
            }
            
        }

        .loading {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            grid-auto-flow: dense;
        }
        
        .loading > div {
            height: 400px;
            width: 100%;
            background: linear-gradient(90deg, #f0f0f0, #f8f8f8, #f0f0f0); /* Lighter gradient for the loading effect */
            box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
            animation: loadingAnimation 2s infinite linear; /* Animation applied to the div */
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .TableMain{
            display: flex;
            align-items: center;
            justify-content: center;
            .CategoryTable {
                width: 1240px;
                border-radius: 5px;
                border-collapse: collapse;
                
                th, td {
                  border: 1px solid #ddd;
                  padding: 8px;
                  text-align: left;
                }
              
                th {
                  background-color: rgb(31, 60, 136);
                  color: white;
                }
                .groups{
                  background-color: rgb(31, 60, 136);
                  color: white;
                  text-align: center;
                  font-weight: 600;
                }
                tr:nth-child(even) {
                  background-color: #f2f2f2;
                }
              
                .ColumnNames {
                  font-weight: bold;
                }
                .Rows td {
                    &:not(:last-child) {
                      border-right: none;
                    }
                  }
              
                .Rows {
                  &:not(:last-child) {
                    border-bottom: 1px dotted #ddd;
                  }             
                  &:hover {
                    background-color: #e9e9e9;
                  }
                }
              }
        }
          
        
        @keyframes loadingAnimation {
            0% {
                background-position: -200% 0; /* Initial position off the left side of the container */
            }
            25% {
                background-position: -100% 0; /* Initial position off the left side of the container */
            }
            50% {
                background-position: 0 0; /* Initial position off the left side of the container */
            }
            75% {
                background-position: 100% 0; /* Initial position off the left side of the container */
            }
            100% {
                background-position: 200% 0; /* Moves completely to the right */
            }
        }
        
        .courses-block {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Change the minimum width as needed */
            gap: 20px;
            grid-auto-flow: dense;
            justify-content: center; /* Center horizontally */
            align-content: center;
            
            .course-card.soon {
                background-color: #848484; /* серый цвет */
                text-align: center;
                position: relative;
            }
            .course-card.soon .image {
                background-color: #1f1e1e;
                opacity: 0.3; /* серый цвет */
            }
            
            .course-card.soon .soon-text {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: "Ubuntu";
                font-size: 35px;
                font-weight: 500;
                color: #ffffff;
            }
            
            .soon-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: "Ubuntu";
                font-size: 20px;
                font-weight: 500;
                display: none;
                color: #656678;
            }
            .soon-text.soon{
                display: block;
            }
            
            
            
            > .course-card {
                width: 100%;
                border-radius: 5px;
                background: #FFFEFE;
                box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                padding-bottom: 20px;
                
                cursor: pointer;
                &:hover {
                    transform: scale(1.02);
                }
                
                > .image {
                    position: relative;
                    
                    img {
                        border-radius: 5px 5px 0px 0px;

                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                        
                        margin-bottom: 10px;
                    }
                    
                    .status {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        
                        width: max-content;
                        
                        color: #3A3939;
                        font-family: Ubuntu;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        
                        border-radius: 50px;
                        background: #CADEFC;
                        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
                        
                        padding: 8px 40px;
                        
                        margin-bottom: 20px;
                        
                        &.available {
                            background-color: #1F3C88;
                            color: white;
                        }

                        &.free {
                            background-color: #29a617;
                            color: white;
                        }
                        
                        &.process {
                            background-color: #58f17eec;
                            color: rgb(255, 255, 255);
                        }
                        
                        &.finished {
                            background-color: #1f3d88bb;
                            color: white;
                        }
                    }
                }
                
                .info {
                    padding: 0px 18px;
                    height: 100%;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                    
                    
                    .course-name {
                        color: #3A3939;
                        
                        font-family: Ubuntu;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                    
                    .langAndDuration {
                        color: #747474;
                        
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        
                        margin-bottom: 30px;
                    }
                    
                    .rating {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        color: #3A3939;
                        font-family: Ubuntu;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        
                        > span {
                            padding-top: 2px ;
                        }
                        
                        .stars {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                        }
                        
                        .star-icon {
                            color: #FF9138;
                        }
                    }
                    
                    .type {
                        color: #747474;
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        
                        > * {
                            color: inherit;
                        }
                    }
                }
                
                
                
                .info-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    margin-bottom: 20px;
                    
                    
                }
                
                
            }
            
            margin-bottom: 73px;
        }

        .container {
            * {
                font-family: 'Ubuntu';
            }
        }
    }
}