.catalog-page {
    background-color: rgb(249, 249, 249);
    position: relative;

    > div:first-child {
        background-color: white;
        padding-bottom: 50px;
    }

    .container {
        // max-width: 1140px;
        padding: 0px 120px;
        // margin: 0 auto;
    }

    .page-content {
     
        h1 {
            margin-top: 50px;

            font-family: Roboto;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: #343434;

            margin-bottom: 20px;
        }

        h2 {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-align: left;

            margin-bottom: 20px;
        }

        h3 {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            text-align: left;

            margin-bottom: 15px;
        }

        p {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;

            margin-bottom: 15px;
        }

        .catalog-header {
            width: 100%;
            background-color: #1F3C88;

            .container {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;

                box-sizing: border-box;

            }
            
            .header-title {

                h3 {
                    color: #FFF;
                    font-family: Inter;
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                padding: 0;
                margin-top: 100px;
                margin-bottom: 35px;
            }

            .header-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 41px;

                .filters {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 32px;

                    color: #FFF;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 15px;

                        > span {
                            cursor: pointer;
                        }
                    }

                    .icon {
                        cursor: pointer;
                    }
                }

                .search {
                    width: 270px;
                    position: relative;

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    input {
                        border-radius: 5px;
                        border: 1px solid #FFF;

                        height: 30px;
                        width: 100%;
                        background-color: #1F3C88;
                        outline: none;

                        color: white;
                        font-size: 16px;

                        padding-left: 30px;

                        &:focus {
                            border: 1px solid #c3c1c1;
                        }
                    }

                    .icon {
                        position: absolute;
                        left: 9px;
                        color: white;
                        cursor: pointer;
                    }
                }
            }

        }

        .loading {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            grid-auto-flow: dense;
        }
        
        .loading > div {
            height: 400px;
            width: 100%;
            background: linear-gradient(90deg, #f0f0f0, #f8f8f8, #f0f0f0); /* Lighter gradient for the loading effect */
            box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
            animation: loadingAnimation 2s infinite linear; /* Animation applied to the div */

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        @keyframes loadingAnimation {
            0% {
                background-position: -200% 0; /* Initial position off the left side of the container */
            }
            25% {
                background-position: -100% 0; /* Initial position off the left side of the container */
            }
            50% {
                background-position: 0 0; /* Initial position off the left side of the container */
            }
            75% {
                background-position: 100% 0; /* Initial position off the left side of the container */
            }
            100% {
                background-position: 200% 0; /* Moves completely to the right */
            }
        }

        .courses-block {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Change the minimum width as needed */
            gap: 20px;
            grid-auto-flow: dense;
            justify-content: center; /* Center horizontally */
            align-content: center;
            
            > div {
                cursor: pointer;

                width: 100%;
                border-radius: 5px;
                background: #FFFEFE;
                box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
            
                display: flex;
                flex-direction: column;

                height: 400px;

                // margin-bottom: 100px;
                
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                > div {
                    padding: 10px 15px;
                    display: flex;
                    flex-direction: column;

                    height: 100%;

                    h3 {
                        color: #3A3939;
                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        margin-top: 10px;
                    }
    
                    .available {
                        border-radius: 5px;
                        background: #CADEFC;

                        padding: 8px 40px;
                        width: max-content;

                        margin-bottom: 20px;
                    }

                    .characteristics {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        p {
                            margin: 0;

                            color: #747474;
                            font-family: Inter;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        .rate {
                            margin: 0;

                            color: #3A3939;
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 5px;

                            .icon {
                                color: #1F3C88;
                            }
                        }
                    }

                    .type {
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        box-sizing: content-box;
                        height: 100%;

                        > div {
                            border-top: 1px solid #E2E2E2;
                            padding-top: 15px;
                        }
                        
                    }
                } 
            }

            margin-bottom: 73px;
        }
    }
}