.text-with-title {
    margin-top: 50px;
    width: 100%;

    padding: 0px 70px;
    box-sizing: border-box;

    h4 {
        color: #000;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 118.182% */

        margin-bottom: 30px;
    }

    p {
        color: #000;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 22.4px */
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }
}