.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
}

.main {
  display: flex;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-left: 1px solid #ddd;
}
.main-content {
  padding: 20px;
  width: 467px;
  background-color: #1A2751;
}

.main-content h2,
.main-content h3 {
  color: white;
}

.main-content p {
  line-height: 1.6;
  color: white;
}

.main-content button {
  background-color: #003366;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 20px 0;
}

.main-content button:hover {
  background-color: #002244;
}
.quiz {
  padding: 20px;
}

.quiz h3 {
  color: #003366;
}

.quiz form {
  display: flex;
  flex-direction: column;
}

.quiz label {
  margin: 10px 0;
}
.practika {
  padding: 20px;
}

.practika h3 {
  color: #003366;
}

.practika img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.practika nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.practika nav a {
  color: #003366;
  text-decoration: none;
}

.practika nav a:hover {
  text-decoration: underline;
}
