.vebinars-page {
    background-color: inherit;
    position: relative;

    > div:first-child {
        background-color: inherit;
        padding-bottom: 50px;
    }

    .container {
        width: 80%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        margin: 0 auto;
    }

    .page-content {
     
        h1 {
            margin-top: 50px;

            font-family: Inter;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: #343434;

            margin-bottom: 33px;
        }

        h2 {
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-align: left;

            margin-bottom: 45px;
        }

        h3 {
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            text-align: left;

            margin-bottom: 15px;
        }

        .vebinar-list-block {
            display: flex;
            flex-direction: column;
            gap: 20px;

            margin-bottom: 236px;

            .vebinar-card {
                display: flex;
                flex-direction: row;
                
                @media (max-width: 770px) {
                    flex-direction: column;
                }

                background-color: #F2F2F2;
                border-radius: 5px;
                box-shadow: 0px 4px 4px 0px #00000040;


                img {
                    width: 300px;
                    @media (max-width: 770px) {
                        width: 100%;
                    }
                    border-radius: 5px;
                }

                .info-block {

                    display: flex;
                    justify-content: center;
                    gap:30px;
                    flex-direction: column;
                    padding: 20px;
                    width: 100%;

                }

                .info-block > div:nth-child(2) {
                    display: flex;
                    align-items: start;
                    flex-direction: row;

                    @media (max-width: 770px) {
                        flex-direction: column;
                    }
                }

                .info-block .title {
                    margin-bottom: 10px;
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 23px;
                    text-align: left;
                    color: #3A3939;
                }

                .info-block .vebinar-info {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    

                    p {
                        
                    }

                    .date {
                        margin-top: 13px;
                    }
                }

                .info-block .lector-info {

                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    .lector-title {
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;

                        margin-bottom: 6px;

                    }

                    .lector-name {
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        
                        margin-bottom: 4px;
                    }

                    .lector-text {
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #4C4C4C;
                    }

                    .action-btn {
                        background-color: #1F3C88;
                        border-radius: 5px;
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        padding: 5px 9px 5px 9px;
                        letter-spacing: 0em;
                        text-align: center;
                        width: 102px;

                        cursor: pointer;
                    }
                }
            }
        }
    }
}