.HomeGame{
    justify-content: center;
    .WelcomeGame{
        width: 100%;
        display: flex;
        justify-content: center;
        .WelcomeGameWrapper{
            display: flex;
            width: 1015px;
            .WelcomeLeftPart{
                width: 543px;
                .WelcomeLeftPartBottom{
                    margin-top: 33px;
                    border-radius: 15px;
                    border: 3px #193685b2 solid;
                    width: 491px;
                }
            }
            .WelcomeRightPart{
                display: block;
                width: 543px;
                margin-left: 64px;
                .WelcomeRightPartTop{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: 120px;
                    gap: 20px;
                    .WelcomeRightPartTop1{
                        display: block;
                        text-align: center;
                        background-color: #4D70CC;
                        border-radius: 15px;
                        width: 213px;
                        height: 248px;
                    } 
                    .WelcomeRightPartTop2{
                        display: block;
                        text-align: center;
                        background-color: white;
                        border:  4px #4D70CC solid;
                        border-radius: 15px;
                        width: 205px;
                        height: 240px;

                    }
                }
                .WelcomeRightPartBottom{
                    margin-top: 50px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .WelcomeRightPartBottom1{
                        background-color: #5C6687;
                        border-radius: 15px;
                        display: flex;
                        width: 451px;
                        height: 145px;
                        align-items: center;
                        margin-bottom: 20px;
                    }
                    .WelcomeRightPartBottom2{
                        background-color: #eceef2 ;
                        border-radius: 15px;
                        display: flex;
                        width: 451px;
                        height: 145px;
                        align-items: center;
                    }
                }
                img{
                    user-drag: none; /* Запретить перетаскивание изображения */
                    -moz-user-select: none; /* Для Firefox */
                    -webkit-user-drag: none; /* Для WebKit-браузеров */
                    -webkit-user-select: none; /* Для WebKit-браузеров */
                    -ms-user-select: none; /* Для IE/Edge */
                }
            }
        }
    }
}