.table-1-header {
    padding: 0px 70px;

    @media (min-width: 1500px) {
        padding: 0px 150px;
    }

    @media (min-width: 1700px) {
        padding: 0px 200px;
    }

    @media (min-width: 1900px) {
        padding: 0px 250px;
    }
}

.columnless-table {
    width: 100%;
    padding: 0px 70px;

    @media (min-width: 1500px) {
        padding: 0px 150px;
    }

    @media (min-width: 1700px) {
        padding: 0px 200px;
    }

    @media (min-width: 1900px) {
        padding: 0px 250px;
    }

    box-sizing: border-box;

    margin-top: 30px;

    .table-wrapper {
        width: 100%;

        .table {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;

            .row-head {
                p {
                    color: #3A3939;
                    font-family: Ubuntu;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px; /* 116.667% */
                }
            }

            .row-body {
                color: #3A3939;
                font-family: Ubuntu;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 21px; /* 116.667% */
            }

            > div:not(.table-body) > div {
                padding: 15px;
            }

            > .table-body {
                display: flex;
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;

                > .table-row {
                    display: flex;
                    cursor: pointer;

                    &:hover {
                        background-color: #F2F2F2;
                    }
                    
                    > div {
                        padding: 7.5px 15px;
                    }

                    > div:not(:last-child) {
                        border-right-width: 2px;
                        border-right-style: solid;
                    }

                    > div {
                        min-width: 40px;
                        box-sizing: border-box;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                    }

                    > div:nth-child(2) {
                        width: calc(30% - 0px);
                    }
                    > div:nth-child(3) {
                        width: calc(70% - 0px);
                    }
                }

            }

            > .table-head, .table-footer {
                width: 100%;
                min-height: 40px;

                display: flex;
                flex-direction: row;

                > div:not(:last-child) {
                    border-right-width: 2px;
                    border-right-style: solid;
                }

                > div {
                    min-width: 40px;
                    box-sizing: border-box;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }

                > div:nth-child(2) {
                    width: calc(30% - 0px);
                }
                > div:nth-child(3) {
                    width: calc(70% - 0px);
                }
            }

            .table-footer, .table-body {
                border-top-width: 2px;
                border-top-style: solid;
            }

            .showAll {
                display: flex !important;
                flex-direction: row !important;
                justify-content: flex-end !important;

                color: #747474 !important;
                font-family: Ubuntu;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px; /* 131.25% */

                > div {
                    cursor: pointer;
                }
            }
        }
    }
}