.tab-container::-webkit-scrollbar {
    display: none;
}

.tab-container {
    font-family: Ubuntu;
    font-style: normal;
    line-height: normal;
    height: calc(100% - 80px);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    .button-title {
        display: flex;
        margin-left: -34px;
    }
    
    .base {
        padding-top: 26px;
        display: flex;
        flex-direction: column;
        gap: 26px;
        
        .title {
            padding-left: 7px;
            color: #374761;
            font-size: 24px;
            font-weight: 700;
            
            span {
                color: rgba(55, 71, 97, 0.75);
                font-weight: 500;
            }
        }

        .list-of-modules {
            .module-line {
                width: 657px;
                height: 43px;
                flex-shrink: 0;
                border-bottom: 1px solid rgba(55, 71, 97, 0.75);
                background: #FFF;
                align-items: center;
                justify-content: space-between;
                display: flex;
                
                div {                    
                    display: flex;
                    align-items: center; /* Vertical centering */   

                    a {
                        margin-left: 10px;
                        color: rgba(55, 71, 97, 0.75);
                        font-size: 18px;
                        font-weight: 400;
                        input {
                            font-family: 'Ubuntu';
                            padding: 0;
                            font-weight: 500;
                            font-size: 18px;
                            color: #374761;
                            border: none;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.205);
                            &:focus {
                                outline: none;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.445);
                                transition: all 0.2s ease;
                            }
                        }
                        span {
                            color: #374761;
                            font-weight: 500;
                        }
                    }

                    svg {
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                .icons {
                    .save-module {
                        padding: 2px 10px 2px 6px;
                        border-radius: 5px 0px 0px 5px;
                        cursor: pointer;
                        background: #374761;
                        a {
                            margin-left: 2px;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        &:hover {
                            background: #374761a9;
                        }
                    }
                    .save-module-cancel {
                        padding: 4px 10px 3px 4px;
                        border-radius: 0px 5px 5px 0px;
                        cursor: pointer;
                        border: 1px solid #37476171;
                        border-left: none;
                        a {
                            color: #374761;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        &:hover {
                            background: rgba(0, 0, 0, 0.11);
                        }
                    }
                }
            }

            .module-line:last-child {
                border-bottom: none;
                // Your styles for the last .module-line element here
            }

            .add-line {
                padding-top: 7px;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }

                svg {
                }

                a {
                    margin-left: 10px;
                    color: #374761;
                    font-size: 18px;
                    font-weight: 400;
                }
            }

        }

        .add-questionare {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            > a {
                font-size: 18px;
                color: #374761;
            }
            .add-questionare-button {
                cursor: pointer;

                display: flex;
                align-items: center;
                gap: 7px;
                // width: 130px;
                width: min-content;
                padding: 8px 14px 8px 8px;
    
                border-radius: 5px;
                background: #374761;
                
                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                }
                &:hover {
                    background: #374761a9;
                }
            }
        }

        .annotations {
            position: absolute;
            right: 130px;
            z-index: -1;


            color: rgba(55, 71, 97, 0.75);
            font-family: Ubuntu;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px; /* 235.714% */

            width: 287px;
            flex-shrink: 0;

            padding: 23px;
            display: flex;

            gap: 15px;


            border-radius: 5px;
            background: rgba(55, 71, 97, 0.05);

            div {
                height: fit-content;
                div {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
            }

        }
    }

    .constructor {
        display: flex;

        .display {
            padding-top: 40px;
             left: 0;

            .components {
                padding-bottom: 250px;
                
                width: calc(100vw - 900px);
                // padding-left: -80px;
                // border: 1px solid rgb(0, 60, 255);
                .component-display {
                    width: 99%;
                    
                    transition: all 0.2s ease;
                    z-index: 4;
                    // border: 1px solid rgb(255, 0, 0);
                    
                    overflow: visible;

                    div.reveal {
                        > * {
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                    }
                    .component-edit {
                        display: none;
                        svg {
                            z-index: 4;
                            cursor: pointer;
                        }
                    }
                    &:hover {
                        background-color: rgba(55, 71, 97, 0.048);
                        border-radius: 9px;
                        transition: all 0.2s ease;
                        .component-edit {
                            // position: absolute;
                            display: block;
                            svg {
                                padding-left: 10px;
                                padding-top: 5px;
    
                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }

                    .c-two-columns-divider {
                        min-height: 300px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .wrapper {
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            gap: 10px;

                            .left, .right {
                                border: 1px dashed #838383;
                                min-height: 300px;
                                width: 50%;

                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                overflow: hidden;

                                > div {
                                    margin: 0;
                                    padding: 10px 70px;
                                    box-sizing: border-box;
                                }

                                p {
                                    text-align: center;
                                    user-select: none;
                                }

                                &.highlighted {
                                    border: 2px dashed #4b4b4b;
                                }
                            }
                        }

                        
                    }
                }

                

            }

            
        }
        .tool-bar {
            // height: calc(100vh - 210px);
            overflow: scroll;
            height: calc(100% - 209px);
            width: 300px;
            position: absolute;
            top: 119px;
            right: 0;
            padding: 43px;
            background: #FFF;
            box-shadow: -4px 0px 9px 0px rgba(0, 0, 0, 0.05);
            z-index: 2;
            
            h3 {
                color: #374761;
                font-family: Ubuntu;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .elements {
                .element-group {
                    h4 {
                        color: rgba(55, 71, 97, 0.75);
                        font-family: Ubuntu;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    .element-grid {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        display: grid;
                        column-gap: 8px;
                        row-gap: 8px;
                        grid-template-columns: 150px 150px;

                        .element {
                            position: relative;

                            cursor: pointer;
                            border-radius: 5px;
                            border: 1px solid rgba(55, 71, 97, 0.15);
                            background: rgba(55, 71, 97, 0.05);
                            display: flex;
                            align-items: center;
                            // justify-content: center;
                            gap: 5px;
                            
                            padding: 10px;
                            
                            img {
                                height: 15px;
                            }

                            .example-image-wrapper {
                                position: absolute;
                                top: 0;
                                z-index: 4;
                                transform: translateY(calc(70px));

                                width: max-content;
                                padding: 10px;

                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                align-items: center;


                                border: 1px solid black;
                                border-radius: 16px;
                                border-top-right-radius: 0px;

                                background-color: white;

                                p {
                                    font-size: 22px;
                                }

                                .example-image {
                                    width: 100%;
                                    max-width: 100px;
                                    height: initial;
                                    max-height: 100px;
                                }
                            }

                            a {
                                color: #374761;
                                font-family: Ubuntu;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: normal;
                            }
                        }
                    }
                }
            }
        }

        .reveal > .sizebox {
            box-sizing: border-box;
            border: 2px dashed rgba(85, 128, 85, 0.185);

            user-select: none;

            display: flex;
            flex-direction: row;
            justify-content: center;

            div {
                opacity: 1;

                p {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 100%;

                    font-size: 10px;
                    font-family: Inter;
                    font-weight: 600;
                }
            }

        }
    }

}