.general-info {
    @mixin fieldInput {
        color: var(--neutral-60, #000000);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.5px;

        border-radius: 4px;
        border: 1px solid var(--neutral-10, #E2E2E2);
        background: var(--white-10, #FFF);
        box-sizing: border-box;
        height: 48px;
        width: 100%;
        padding: 8px 8px 8px 16px;
    }

    padding: 30px 72px;

    border-radius: 5px;
    background: #F9F9F9;

    .fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // gap: 20px;
        row-gap: 20px;
        column-gap: 70px;
        // justify-content: space-between;
        margin-bottom: 25px;
    }

    .field {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        // max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        gap: 8px;

        // > label {
        //     color: var(--neutral-100, #20102B);
        //     font-family: Inter;
        //     font-size: 14px;
        //     font-style: normal;
        //     font-weight: 500;
        //     line-height: 24px; /* 171.429% */
        //     letter-spacing: 0.5px;
        // }

        > div {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .show-password {
            position: absolute;
            right: 10px;

            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        input[type="text"], input[type="password"] {
            @include fieldInput;
        }

        .custom-select {
            position: relative;
            display: inline-block;
            
        }

        select {
            @include fieldInput;

            -webkit-appearance: none; /* Remove default arrow in Chrome and Safari */
            -moz-appearance: none; /* Remove default arrow in Firefox */
            appearance: none; /* Remove default arrow in other browsers */
        }

        .dropdown-icon {
            position: absolute;
            top: 50%;
            right: 10px; /* Adjust the right position as needed */
            transform: translateY(-50%);
            width: 10px; /* Set the width of your custom icon */
            height: 10px; /* Set the height of your custom icon */
            background: url('./../../assets/icons/dropdown.png') no-repeat;
            background-size: contain; /* Adjust to fit your icon size */
            // cursor: pointer;
        }
    }

    .profile-img {
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: #111010;
        border: 10px solid #385ab1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.5px;

        user-select: none;

        margin-bottom: 35px;
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        color: #FFF;

        > div {
            color: #3A3939;

            text-align: center;
            font-family: Ubuntu;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */

            padding: 11px 17px;

            background-color: #fff;
            border: 1px solid #1F3C88;
            border-radius: 5px;
            cursor: pointer;
            user-select: none;

            &:hover, &.active {
                color: #FFF;
                background-color: #1F3C88;
            }
        }
    }
}