.game-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 45px;
    box-sizing: border-box;

    background-color: #1A2751;

    height: 80px;

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        > div {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 16px;
        }
    }

    .navigation {
        display: flex;
        flex-direction: row;
        color: #8C9BB5;

        .lang {

            font-size: 20px;
            font-weight: 500;
            
            border-right: 1px solid #8C9BB5;
            padding: 15px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            cursor: pointer;
        }

        .profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            > span+span {
                margin-left: 15px;
            }

            padding-left: 15px;

            .icon {
                width: 40px;
                height: 40px;
                box-sizing: border-box;
                padding: 8px;

                color: #1A2751;
                background-color: #FFF;
                border-radius: 50%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                > * {
                    font-size: 20px;
                }
            }

            span {
                font-size: 20px;
                
                a {
                    text-decoration: none;
                    color: inherit;
                }

                cursor: pointer;
            }
        }
    }
}