.navbarGame {
    background-color: #1A2751;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 999;
  .navWrapperGame{
    width: 1015px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
    gap: 15px;
    .textGame{
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      width: 250px;
      color: white;
    }
  }
  
  .logoGame {
    width: 50px; /* Adjust according to your logo size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 100%; 
    user-drag: none; /* Запретить перетаскивание изображения */
    -moz-user-select: none; /* Для Firefox */
    -webkit-user-drag: none; /* Для WebKit-браузеров */
    -webkit-user-select: none; /* Для WebKit-браузеров */
    -ms-user-select: none; /* Для IE/Edge */
  }
  
  .right-section {
    display: flex;
    align-items: center;
    width: 100px;
  }
}