.indexParent{
    height: 200px;
    

.oneThing {
    position: relative;
   
   
  
    .blueText {
      color: blue;
  
      &:hover {
        + .purpleText {
          display: block;
        }
      }
    }
  
    .purpleText {
      display: none;
      position: absolute;
      
      top: 1px; // Отрицательный отступ, чтобы появлялось сверху
      left: 0;
      background-color: purple;
      color: white;
      padding: 5px;
      border-radius: 5px;
      z-index: 2;
    }
  }
  
  // Добавьте остальные стили, если необходимо
  
}