.main-container-questions {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.pdl-list {
    list-style-type: decimal;
    margin-left: 20px;
    font-style: italic;
    font-weight: 500;
}