.basic-course-page {
    background-color: rgb(255, 255, 255);
    position: relative;

    > div:first-child {
        background-color: white;
        padding-bottom: 50px;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .page-content {
     
        h1 {
            margin-top: 50px;

            font-family: Inter;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: #343434;

            margin-bottom: 33px;
        }

        .section-header {
            font-family: 'Ubuntu';
        }

        h2 {
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-align: left;

            margin-bottom: 45px;
        }

        h3 {
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            text-align: left;

            margin-bottom: 15px;
        }

        p {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;

            margin-bottom: 15px;
        }

        .collapsable-blocks {
            padding: 28px 24px;
            background-color: #e9e9e9;
            border-radius: 5px;

            box-shadow: 0px 4px 4px 0px #00000040;

            display: flex;
            flex-direction: column;
            gap: 26px;

            margin-bottom: 73px;
            // border: 1px solid red;
        }

        .blue-btn {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-end;

            margin-bottom: 73px;

            > div {
                padding: 8px 22px;
            
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                
                background-color: #1F3C88;
                color: white;

                border-radius: 5px;

                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .blue-btn1 {
            display: flex;
            flex-direction: row;
            gap: 10px;
            height: 131px;
            background-color: #1F3C88;
            border-radius: 4px;
            justify-content: flex-end;

          

            > div {
                padding: 8px 22px;
                margin-top: 38px;
            
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                
                
                color: white;

                border-radius: 5px;

                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .blue-btn2 {
            flex-direction: row;
            display: grid;
            gap: 10px;
            justify-content: flex-end;
            align-content: center;

            > div {
                padding: 8px 22px;
            
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                
                background-color: #1F3C88;
                color: white;

                border-radius: 5px;

                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
        
    }

    
}

.offer-contract-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;

    margin-top: 15px;

    // border: 1px solid red;

    > input[type="checkbox"] {
    }

    > label {
        margin: 0;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        color: rgba(0, 0, 0, 0.6);

        a {
            text-decoration: none;
            color: #294fad;
        }
    }
}