.container {
    max-width: 940px;
    margin: 0 auto;
}

.headline {
    color: #343434;
    font-size: 26px;
    font-weight: 700;
    margin-top: 116px;
}

.scheme {
    margin: 24px auto 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    margin: 23px 0 23px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px; /* 118.75% */
}

.stagesContent {
    margin: 80px 0 73px;
}

.stagesArrow {
    position: relative;
}

.stage {
    position: absolute;
    top: -185px;
    left: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.stageText {
    width: 98px;
    color: #3A3939;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px; /* 118.75% */
    margin-bottom: 22px;
    margin-top: 22px;
}

.stageText:hover {
    color: #1F3C88;
    transition: .3s;
}

.circle {
    background: #F9CB36;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.circle:hover {
    background: #1F3C88;
    transition: .3s;
}

.stageSecond {
    position: absolute;
    top: -85px;
    left: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.stageThird {
    position: absolute;
    top: -185px;
    left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.arrowTabs {
    margin-top: 46px;
    padding: 21px;
    width: 940px;
    border-radius: 5px;
    background: #E2E2E2;
}

.title {
    display: block;
    color: #343434;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px; /* 105.556% */
}

.arrowTabsText {
    color: #343434;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px; /* 105.556% */
}