.image-with-points {

    padding: 0px 70px;
    margin-top: 10px;

    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
        gap: 30px;
    }

    canvas {
        width: 100%;
        height: 600px;
    }

    @media (min-width: 1300px) {
        canvas {
            height: 600px;
            width: auto;
        }
    }

    @media (min-width: 1500px) {
        padding: 0px 150px;

    }

    @media (min-width: 1700px) {
        padding: 0px 200px;

        canvas {
            height: 800px;
            width: auto;
        }
    }

    @media (min-width: 1900px) {
        padding: 0px 350px;

        canvas {
            height: 600px;
            width: auto;
        }
    }

    .list {
        position: absolute;
        margin-top: 10%;
        z-index: 50;

        // Позиционирование от левого края на 50% ширины родителя
        transform: translate(5%, -20%);

        min-width: 200px;
        padding: 20px;

        background-color: white;
        color: black;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

        .inner {
            position: relative;
        }

        .header {
            font-family: Ubuntu;
            font-size: 20px;
            font-weight: 600;

            margin-bottom: 20px;
        }

        .items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 16px;
        }

        .close {
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
        }
    }
}
