.vebinars-page {
    background-color: inherit;
    position: relative;

    > div:first-child {
        background-color: inherit;
        padding-bottom: 50px;
    }

    .container {
        width: 80%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        margin: 0 auto;
    }

    .page-content {
     
        h1 {
            margin-top: 50px;

            font-family: Inter;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: #343434;

            margin-bottom: 33px;
        }

        h2 {
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            text-align: left;

            margin-bottom: 45px;
        }

        h3 {
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            text-align: left;

            margin-bottom: 15px;
        }

        .vebinar-list-block {
            display: flex;
            flex-direction: column;
            gap: 20px;

            margin-bottom: 236px;

            .vebinar-card {
                display: flex;
                flex-direction: row;
                
                @media (max-width: 770px) {
                    flex-direction: column;
                }

                background-color: #F2F2F2;
                border-radius: 5px;
                box-shadow: 0px 4px 4px 0px #00000040;


                img {
                    width: 300px;
                    @media (max-width: 770px) {
                        width: 100%;
                    }
                    border-radius: 5px;
                }

                .info-block {
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    padding: 20px;

                }

                .info-block > div:nth-child(2) {
                    display: flex;
                    align-items: start;
                    flex-direction: row;

                    @media (max-width: 770px) {
                        flex-direction: column;
                    }
                }

                .info-block .title {
                    margin-bottom: 10px;
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 23px;
                    text-align: left;
                    color: #3A3939;
                }

                .info-block .vebinar-info {
                    width: 50%;

                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p {
                        
                    }

                    .date {
                        margin-top: 13px;
                    }
                }

                .info-block .lector-info {

                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    .lector-title {
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;

                        margin-bottom: 6px;

                    }

                    .lector-name {
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        
                        margin-bottom: 4px;
                    }

                    .lector-text {
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #4C4C4C;
                    }

                    .action-btn {
                        margin-top: 38px;
                        padding: 5px 45px;

                        background-color: #1F3C88;
                        border-radius: 5px;

                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;

                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.roundeContacts {
    background: #0d1ea1;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContacts {
    color: #1F3C88;
}

.roundeContacts:hover {
    background: #1F3C88;
    transition: 0.7s;
}

.iconContacts {
    width: 140%;
    
}

.iconContacts:hover {
    filter: brightness(70%);
}

.textStyle{
    font-size: 20px;
}
.socialsContacts{
    width: max-content;
    display: flex;
    gap: 50px;
    margin-left: 6px;
    margin-top: 10px;
    justify-content: space-between;
}