.main-container-questions {
    display: flex;
    flex-direction: column;
    
    width: 90%;
}
.centering-questions{
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-container-questions .type-of-questions{
    font-weight: 600 !important;
    font-size: 22px !important;
    padding: 20px;
}