/* Questionnaire.css */
.questionnaire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  .questionnaire-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .questionnaire-button {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    width: 150px;
    max-width: 150px;
    
  }
  
  .questionnaire-button.not-relevant:hover {
    background-color: #80d473;
    transition: 0.5s;
  }
  
  .questionnaire-button.relevant:hover {
    background-color: #fb4545;
    transition: 0.5s;
  }
  
  .questionnaire-question {
    max-width: 25%;
    min-height: 90px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .questionnaire-navigation {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .questionnaire-navigation button {
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    
    cursor: pointer;
  }
  
  .questionnaire-navigation button:nth-of-type(1) {
    background-color: white;  }
  
  .questionnaire-navigation button:nth-of-type(2) {
    background-color: #5792EB; 
    color: #fff;
    border: #5792EB;
  }
  
  
  .questionnaire-navigation button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .dots {
    display: flex;
    gap: 5px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #007bff;
  }
  