.dropDownTextWithTabs {
    padding: 0px 70px;
    padding-bottom: 10px;

    @media (min-width: 1500px) {
        padding: 0px 150px;
        padding-bottom: 10px;

    }

    @media (min-width: 1700px) {
        padding: 0px 200px;
        padding-bottom: 10px;

    }

    @media (min-width: 1900px) {
        padding: 0px 250px;
        padding-bottom: 10px;
    }

    .tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 7px 15px;
        flex-wrap: wrap;

        .tab {
            padding: 7px 20px;
            border-radius: 10px;

            cursor: pointer;
        }
    }

}

.dropdown-list-wrapper {
    padding: 0px 70px;
    box-sizing: border-box;

    @media screen and (max-width: 1000px) {
        padding: 0px 0px;
    }

    .dropdown-list {
        width: 100%;
        // height: 200px;
        border-radius: 18px;
        // margin-bottom: 190px;
        
        padding: 80px 90px;

        @media screen and (max-width: 1000px) {
            padding: 40px 10px;
        }

        box-sizing: border-box;

        background: var(--neutral-100, #FFF);
        box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);

        display: flex;
        flex-direction: column;
    }
}

.dropDownData {
    padding: 40px 20px 40px 40px;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #D9DBE9;

    &:first-child {
        padding-top: 0px;
    }

    &:last-child {
        padding-bottom: 0px;
        border-bottom: none;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .icon {
            cursor: pointer;
            user-select: none;
        }

        p {
            margin: 0;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Ubuntu;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 155.556% */

            cursor: pointer;
        }
    }

    .data {
        margin-top: 20px;
        transition: height 200ms ease-in-out, margin-top 200ms ease-in-out;

        p {
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Ubuntu;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 17.6px */
            text-align: justify;
        }

        &.hide {
            transition: height 200ms ease-in-out, margin-top 200ms ease-in-out;

            height: 0px;
            overflow: hidden;
            margin-top: 0px;
        }
    }
}