.modal {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 40% !important;
    height: 50% ;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(55, 71, 97, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 100px;

    .modal-title {
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 24px;
        color: #374761;
    }
    overflow: scroll;
    .modal-content {
        padding-top: 25px;
        width: 100% !important;

        display: flex;
        flex-direction: column;

        gap: 10px;

        .columns {
            width: 100%;
            display: flex;
            gap: 5px;
            .first-column {
                > div {
                    padding-top: 5px;
                }
        
            }
            .second-column {
                width: 100%;
                
                > div {
                    padding-top: 5px;
                    > input {
                        width: 100%;
                    }
                }
            }
        }

        input {
            box-sizing: border-box;
            // border: 3px solid #ccc;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
        }

        input[type=text] {
            border-radius: 5px;
            border: 1px solid grey;
            
            padding: 5px;
            
            font-family: 'Ubuntu';
            &:focus {
                border: 1px solid black;
            }
        }


        input[type=color] {
            // -webkit-appearance: none;
            // -moz-appearance: none;
            // appearance: none;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-button-div {
            padding-top: 5px;
            display: flex;
            justify-content: center; // Centers the button horizontally
            align-items: center; // Centers the button vertically
            height: 100%; 
            .add-button {
                
                background-color: #6390d8;
                border: none;
                padding: 10px;
                
                border-radius: 5px;
                
                color: rgb(255, 255, 255);
                font-weight: 700;
                
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    background-color: #8eb3ee;
                    transition: all 0.2s ease;
                }
            }
        }


        .default-input {
            display: flex;
            flex-direction: column;
            gap: 5px;

        }

        .file-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .number-input {
            display: flex;
            flex-direction: row;
            gap: 15px;

            > label {
                padding: 5px;
            }

            > input {
                border: none;
                border-bottom: 1px solid grey;
                padding: 5px;
                
                &:focus {
                    border-bottom: 1px solid black
                }
            }
        }

        .buttons {
            display: flex;
            gap: 5px;
            justify-content: flex-end;

            .close-button {
                background-color: rgb(214, 214, 214);
                border: none;
                padding: 10px;
                
                border-radius: 5px;
                
                color: rgba(0, 0, 0, 0.342);
                font-weight: 700;
                transition: all 0.2s ease;
                
                cursor: pointer;
                &:hover {
                    background-color: rgb(233, 233, 233);
                    transition: all 0.2s ease;
                }
            }
            
            .save-button {
                background-color: #6390d8;
                border: none;
                padding: 10px;
                
                border-radius: 5px;
                
                color: rgb(255, 255, 255);
                font-weight: 700;
                
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    background-color: #8eb3ee;
                    transition: all 0.2s ease;
                }
            }
        }

    }


}