.modal {
    z-index: 11;
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: max-content;
    min-width: 600px;
    height: max-content;
    max-height: 400px;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(55, 71, 97, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 100px;

    overflow-y: scroll;
    overflow-x: scroll;
    
    .title-example {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .modal-title {
            font-family: 'Ubuntu';
            font-weight: 700;
            font-size: 24px;
            color: #374761;
        }

        img {
            max-width: 600px;
        }

        .example {
            text-decoration: underline;
            cursor: pointer;
            user-select: none;


            &:hover {
                opacity: 0.5;
            }
        }
    }

    .modal-content {
        padding-top: 25px;
        width: 100% !important;
        position: relative;

        display: flex;
        flex-direction: column;

        gap: 10px;

        .tabs-glossary-input {
            display: flex;
            flex-direction: column;
            gap: 15px;

            > label {
                font-size: 20px ;
                font-weight: 600;
            }

            .rows {
                display: flex;
                flex-direction: column;
                gap: 15px;

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &+div {
                        border-top: 3px solid black;
                        padding-top: 10px;
                    }

                    > div:nth-child(1) {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
    
                        label {
                            padding-left: 5px;
                        }
                    }
                }
            }
        }

        .icon-text-innerText-input {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .items {
                display: flex;
                flex-direction: column;
                gap: 10px;

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;

                        > * {
                            width: 50%;
                        }
                    }
                }

            }
        }

        .dropDown-r5-input {
            display: flex;
            flex-direction: column;
            gap: 20px;

            > div {
                display: flex;
                flex-direction: column;
                gap: 5px;

                > div:not(:first-child) {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    > *:nth-child(1) {
                        width: 30%;
                    }
                    > *:nth-child(2) {
                        width: 70%;
                    }
                }
            }
        }

        .card-quiz-input {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                div:nth-child(2) {
                    cursor: pointer;
                }
            }

            > button {
                margin-top: 30px;
            }

            .questions {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .question {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 15px 0px;

                border-bottom: 2px solid black;

                .row {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    input[type="text"] {
                        width: 100%;
                    }

                    .question-answers {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }

                    .option {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        gap: 5px;

                        > *:nth-child(1), > *:nth-child(2) {
                            width: calc((100% - 30px) / 2);
                        }

                        > input[type="checkbox"] {
                            width: 20px;
                        }
                    }

                }
            }
        }

        .table-data-inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;

            button {
                margin-top: 20px;
                width: 200px;
            }

            > div {
                display: flex;
                flex-direction: column;
                gap: 10px;

                border: 1px solid black;
                padding: 16px;
                border-radius: 4px;

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                label {
                    padding-left: 5px;
                }
            }
        }

        .carousel-input {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 18px;
                margin-bottom: 18px;
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .row {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    > div:nth-child(1) {
                        width: 20%;

                        input {
                            color: white;
                        }
                    }

                    > div:nth-child(2) {
                        width: 30%;
                    }

                    > div:nth-child(3) {
                        width: 40%;
                    }
                }

                input {
                    width: 100%;
                }
            }

        }

        .columns {
            width: 100%;
            display: flex;
            gap: 5px;
            .first-column {
                > div {
                    padding-top: 5px;
                }
        
            }
            .second-column {
                width: 100%;
                
                > div {
                    padding-top: 5px;
                    > input {
                        width: 100%;
                    }
                }
            }
        }

        .checkbox-input {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
        }

        .select-input {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
        }

        .icons-and-list {
            margin: 20px 0px;

            display: flex;
            flex-direction: column;
            gap: 10px;
            
            .list {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 5px;
                width: 100%;

                .row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    width: calc(100% - 10px);


                    &:first-child {
                        > div {
                            padding-left: 10px;
                        }

                        margin-bottom: 5px;
                    }

                    > div:nth-child(1) {
                        width: 30%;
                    }
    
                    > div:nth-child(2) {
                        width: 70%;

                        > input {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .dropdown-columns {
            padding-top: 5px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 5px;



            .dropdown-rows {
                width: 20%;
                input {
                    width: 100%;
                    background-color: #37476128;
                    border: 1px solid #37476128;
                    
                }
            }

            .dropd-content {
                display: flex;
                flex-direction: row; // Stack first-column and second-column vertically
                gap: 4px;
                width: 80%;
                .first-column {
                    width: 20%;
                    >div {
                        padding-bottom: 2px;
                        input {
                            width: 100%;
                        }
                    }
                }
                .second-column {
                    width: 80%;
                    
                    > div {
                        padding-bottom: 2px;
                        input {
                            width: 100%;
                        }
                    }
                }
            }
            .add-drop {
                padding: 4px 0px 2px 2px;
                .add-drop-button {

                    cursor: pointer;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        .list-inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .list-column {
                display: flex;
                flex-direction: column;
                gap: 5px;

                width: 100%;

                > div {
                    input {
                        width: 100%;
                    }
                }
            }
        }

        .rows-inputs {
            .two-columns {
                padding: 2px;
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 5px;
                .first-column {
                    width: 50%;
                    > input {
                        width: 100%;
                    }
                }
                .second-column {
                    width: 50%;
                    > input {
                        width: 100%;
                    }
                }
            }
        }

        .dropd-name-desx-items {
            .columns {
                margin-top: 10px;
                display: flex;
                .name-desx {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .name-input {
                        height: 28px;
                        > input {
                            height: 100%;
                            // width: 100%;
                            background-color: #37476128;
                            border: 1px solid #37476128;
                        }
                    }
                    .desx-input {
                        height: calc(100% - 29px);
                        > textarea {
                            height: 100%;
                            background-color: #37476128;
                            border: 1px solid #37476128;
                        };
                    }
                }

                .list {
                    display: flex;
                    gap: 5px;
                    width: 100%;
                    .list-list {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 95%;


                        .list-rows {
                            width: 100%; 
                            > input {
                                width: 100%;
                            }
                        }
                    }
                    .add-drop {
                        width: 5%;
                        padding: 4px 0px 2px 2px;
                        .add-drop-button {
        
                            cursor: pointer;
        
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }

            }
        }
        
        .dnd_questions {

            .dnd-question-answer {
                padding-top: 5px;
                display: flex;
                gap: 5px;

                width: 100%;

                .first-column {
                    width: 70%;

                    > input {
                        width: 100%;
                    }
                }
                .second-column {
                    width: 30%;

                    > select {
                        width: 100%;
                    }
                }
            }
        }

        .dropd-title-desx {
            display: flex;
            flex-direction: column;
            gap: 5px;

            > .dtd-columns {
                display: flex;
                gap: 5px;

                .first-column {
                    width: 30%;

                    > input {
                        width: 100%;
                    }
                }

                .second-column {
                    width: 70%;

                    > input {
                        width: 100%;
                    }
                }
            }
        }

        .icons-title-desx {
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            .ictide-columns {
                display: flex;
                flex-direction: row;
                gap: 5px;

                .first-column {
                    width: 30%;

                    > input {
                        width: 100%;
                    }
                }
                .second-column {
                    width: 60%;

                    > input {
                        width: 100%;
                    }
                }
                .third-column {
                    width: 10%;

                    > input {
                        width: 100%;
                    }
                }
            }
        }

        .points_list-input {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                resize: none;
                font-size: 13px;
                border-radius: 5px;
                border: 1px solid grey;
                padding: 5px;
                font-family: 'Ubuntu';
            }

            > div.input-title {
                margin-bottom: 10px;
                font-size: 20px;
            }

            > div {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px;

                &:nth-child(2) {
                    padding-left: 5px;
                }
            }
        }

        .list-of-list-input {
            display: flex;
            flex-direction: column;
            gap: 20px;

            margin-top: 20px;

            .input-title {
                margin-bottom: 10px;
                font-size: 20px;
            }

            .list-item {
                display: flex;
                flex-direction: row;
                gap: 10px;

                &+.list-item {
                    padding-top: 10px;
                    border-top: 1px solid black;
                }

                > div:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    width: 20px;
                    padding: 5px;

                    p {
                        font-size: 18px;
                    }
                }

                .list-inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 10px;

                    width: 100%;

                    input {
                        width: 100%;
                    }

                    button {
                        width: max-content;
                        // margin-top: ;
                    }
                }
            }
        }

        .phases-input {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .phase {
                display: flex;
                flex-direction: column;
                gap: 10px;

                &+.phase {
                    padding-top: 20px;
                    border-top: 1px solid black ;
                }

                > div:nth-child(1) {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                }

                > div:nth-child(2) {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;

                    > div:last-child {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;
                    }

                    > div {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        > div {
                            min-height: 30px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        input, textarea {
            box-sizing: border-box;
            // border: 3px solid #ccc;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
        }

        .format-textarea {
            display: flex;
            flex-direction: column;
            gap: 10px;

            > label {
                padding-left: 5px;
            }

            .inner {
                width: 500px;
                
                .actions {
                    display: flex;
                    flex-direction: row;

                    > button {
                        min-width: 30px;
                    }

                    .btn-bold {
                        font-weight: 600;
                    }

                    .btn-italic {
                        font-style: italic;
                    }

                    .btn-underline {
                        text-decoration: underline;
                    }

                    .btn-highlight {
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 600;
                        background-color: #30abc7;
                    }

                    .btn-red {
                        color: black;
                        border: 1px solid black;
                        font-size: 1rem;
                        background-color: red;
                    }
                }

                textarea {
                    width: 100%;
                    min-height: 300px;
                    height: max-content;
                }
            }
        }

        .data-rows-input {
            display: flex;
            flex-direction: column;
            gap: 10px;

            > div {
                display: flex;
                flex-direction: row;
                gap: 10px;

                input, textarea {
                    width: 100%;
                    border: 2px solid black;
                }
            }
        }

        input[type=text], textarea{
            resize: none;
            font-size: 13px;
            border-radius: 5px;
            border: 1px solid grey;
            
            padding: 5px;
            
            font-family: 'Ubuntu';
            &:focus {
                border: 1px solid black;
            }
        }
        
        select {
            resize: none;
            font-size: 13px;
            border-radius: 5px;
            border: 1px solid grey;
            
            padding: 5px;
            
            &:focus {
                border: 1px solid black;
            }
        }


        input[type=color] {
            // -webkit-appearance: none;
            // -moz-appearance: none;
            // appearance: none;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-button-div {
            padding-top: 5px;
            display: flex;
            justify-content: center; // Centers the button horizontally
            align-items: center; // Centers the button vertically
            height: 100%; 
            .add-button {
                
                background-color: #6390d8;
                border: none;
                padding: 10px;
                
                border-radius: 5px;
                
                color: rgb(255, 255, 255);
                font-weight: 700;
                
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    background-color: #8eb3ee;
                    transition: all 0.2s ease;
                }
            }
        }


        .default-input {
            display: flex;
            flex-direction: column;
            gap: 5px;

        }

        .textarea-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
            height: auto;

            > textarea {
                height: auto;
                // resize: vertical; /* Allows the textarea to be resized vertically */
                overflow: hidden; /* Prevents scrollbars from appearing */
                min-height: 50px;
            }
        }

        .file-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .number-input {
            display: flex;
            flex-direction: row;
            gap: 15px;

            > label {
                padding: 5px;
            }

            > input {
                border: none;
                border-bottom: 1px solid grey;
                padding: 5px;
                
                &:focus {
                    border-bottom: 1px solid black
                }
            }
        }

        .buttons {
            display: flex;
            gap: 5px;
            justify-content: flex-end;

            .close-button {
                background-color: rgb(214, 214, 214);
                border: none;
                padding: 10px;
                
                border-radius: 5px;
                
                color: rgba(0, 0, 0, 0.342);
                font-weight: 700;
                transition: all 0.2s ease;
                
                cursor: pointer;
                &:hover {
                    background-color: rgb(233, 233, 233);
                    transition: all 0.2s ease;
                }
            }
            
            .save-button {
                background-color: #6390d8;
                border: none;
                padding: 10px;
                
                border-radius: 5px;
                
                color: rgb(255, 255, 255);
                font-weight: 700;
                
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    background-color: #8eb3ee;
                    transition: all 0.2s ease;
                }
            }
        }

        .DragAndDropOptions-input {
            display: flex;
            flex-direction: column;
            gap: 10px;

            margin-bottom: 20px;

            > div {
                display: flex;
                flex-direction: row;
                gap: 20px;

                > div:nth-child(1) {
                    width: 60%;
                }

                > div:nth-child(2) {
                    width: 40%;
                }

                input {
                    width: 100%;
                }
            }
        }

        .generic-table {
            width: 100%;
            overflow-x: auto;
            position: relative;
            overflow: visible;
        
            table {
                width: 100%;
                border-collapse: collapse;
        
                th, td {
                    padding: 8px;
                    border: 1px solid #ccc;
                    text-align: left;
                    
                    .textarea-formatable {
                        border: none;
                        height: 100%;
                        width: 100%;
                    }

                    input {
                        width: 100%;
                        padding: 8px;
                        border: none;
                        border-radius: 4px;
                        background-color: #37476100;
        
                        &:focus {
                            // border-color: #007bff;
                            border: none;
                        }
                    }
                }

                .header {
                    background-color: #37476111;
                }
                .extra-column {
                    position: absolute;
                    top: 5px;
                    border: none;
                }
        
                .add-drop-button {
                    cursor: pointer;
                }
            }
        }

        .test-options {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                padding-left: 5px;
            }

            .options {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .option {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    > *:nth-child(1) {
                        width: 80%;
                    }
                }
            }
        }
        
        
        
        
        

    }


}