.modal {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 40% !important;
    height: 50% ;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(55, 71, 97, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 100px;

    .modal-title {
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 24px;
        color: #374761;
    }
    overflow: scroll;
    .modal-content {
        padding-top: 25px;
        width: 100% !important;

        display: flex;
        flex-direction: column;

        gap: 10px;

        .columns {
            width: 100%;
            display: flex;
            gap: 5px;
            .first-column {
                > div {
                    padding-top: 5px;
                }
        
            }
            .second-column {
                width: 100%;
                
                > div {
                    padding-top: 5px;
                    > input {
                        width: 100%;
                    }
                }
            }
        }


        .dropdown-columns {
            padding-top: 5px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 5px;



            .dropdown-rows {
                width: 20%;
                input {
                    width: 100%;
                    background-color: #37476128;
                    border: 1px solid #37476128;
                    
                }
            }

            .dropd-content {
                display: flex;
                flex-direction: row; // Stack first-column and second-column vertically
                gap: 4px;
                width: 80%;
                .first-column {
                    width: 20%;
                    >div {
                        padding-bottom: 2px;
                        input {
                            width: 100%;
                        }
                    }
                }
                .second-column {
                    width: 80%;
                    
                    > div {
                        padding-bottom: 2px;
                        input {
                            width: 100%;
                        }
                    }
                }
            }
            .add-drop {
                padding: 4px 0px 2px 2px;
                .add-drop-button {

                    cursor: pointer;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        .list-inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .list-column {
                display: flex;
                flex-direction: column;
                gap: 5px;

                width: 100%;

                > div {
                    input {
                        width: 100%;
                    }
                }
            }
        }

        .rows-inputs {
            .two-columns {
                padding: 2px;
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 5px;
                .first-column {
                    width: 50%;
                    > input {
                        width: 100%;
                    }
                }
                .second-column {
                    width: 50%;
                    > input {
                        width: 100%;
                    }
                }
            }
        }

        .dropd-name-desx-items {
            .columns {
                margin-top: 10px;
                display: flex;
                .name-desx {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .name-input {
                        height: 28px;
                        > input {
                            height: 100%;
                            // width: 100%;
                            background-color: #37476128;
                            border: 1px solid #37476128;
                        }
                    }
                    .desx-input {
                        height: calc(100% - 29px);
                        > textarea {
                            height: 100%;
                            background-color: #37476128;
                            border: 1px solid #37476128;
                        };
                    }
                }

                .list {
                    display: flex;
                    gap: 5px;
                    width: 100%;
                    .list-list {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 95%;


                        .list-rows {
                            width: 100%; 
                            > input {
                                width: 100%;
                            }
                        }
                    }
                    .add-drop {
                        width: 5%;
                        padding: 4px 0px 2px 2px;
                        .add-drop-button {
        
                            cursor: pointer;
        
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }

            }
        }
        
        .dnd_questions {

            .dnd-question-answer {
                padding-top: 5px;
                display: flex;
                gap: 5px;

                width: 100%;

                .first-column {
                    width: 70%;

                    > input {
                        width: 100%;
                    }
                }
                .second-column {
                    width: 30%;

                    > select {
                        width: 100%;
                    }
                }
            }
        }

        input, textarea {
            box-sizing: border-box;
            // border: 3px solid #ccc;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
        }


        input[type=text], textarea{
            resize: none;
            font-size: 13px;
            border-radius: 5px;
            border: 1px solid grey;
            
            padding: 5px;
            
            font-family: 'Ubuntu';
            &:focus {
                border: 1px solid black;
            }
        }
        
        select {
            resize: none;
            font-size: 13px;
            border-radius: 5px;
            border: 1px solid grey;
            
            padding: 5px;
            
            &:focus {
                border: 1px solid black;
            }
        }


        input[type=color] {
            // -webkit-appearance: none;
            // -moz-appearance: none;
            // appearance: none;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-button-div {
            padding-top: 5px;
            display: flex;
            justify-content: center; // Centers the button horizontally
            align-items: center; // Centers the button vertically
            height: 100%; 
            .add-button {
                
                background-color: #6390d8;
                border: none;
                padding: 10px;
                
                border-radius: 5px;
                
                color: rgb(255, 255, 255);
                font-weight: 700;
                
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    background-color: #8eb3ee;
                    transition: all 0.2s ease;
                }
            }
        }


        .default-input {
            display: flex;
            flex-direction: column;
            gap: 5px;

        }

        .textarea-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
            height: auto;

            > textarea {
                height: auto;
                // resize: vertical; /* Allows the textarea to be resized vertically */
                overflow: hidden; /* Prevents scrollbars from appearing */
                min-height: 50px;
            }
        }

        .file-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .number-input {
            display: flex;
            flex-direction: row;
            gap: 15px;

            > label {
                padding: 5px;
            }

            > input {
                border: none;
                border-bottom: 1px solid grey;
                padding: 5px;
                
                &:focus {
                    border-bottom: 1px solid black
                }
            }
        }

        .buttons {
            display: flex;
            gap: 5px;
            justify-content: flex-end;

            .close-button {
                background-color: rgb(214, 214, 214);
                border: none;
                padding: 10px;
                
                border-radius: 5px;
                
                color: rgba(0, 0, 0, 0.342);
                font-weight: 700;
                transition: all 0.2s ease;
                
                cursor: pointer;
                &:hover {
                    background-color: rgb(233, 233, 233);
                    transition: all 0.2s ease;
                }
            }
            
            .save-button {
                background-color: #6390d8;
                border: none;
                padding: 10px;
                
                border-radius: 5px;
                
                color: rgb(255, 255, 255);
                font-weight: 700;
                
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    background-color: #8eb3ee;
                    transition: all 0.2s ease;
                }
            }
        }

    }


}