.client-review-container {
    width: 1010px;
    margin: 0 auto;
}

.client-review-res{
    display: flex;
    gap: 50px;
}
.fullInfo-client{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.img-container-review{
    width: 150px;
    height: 170px;
    background-color: #1F3C88;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.img-container-review img{
    width: 130px;
    border-radius: 20px;
}
.client-review-description{
    padding: 40px;
    border: 1px solid #DAD8D8;
    background-color: #FAFAFA;
    border-radius: 15px;
    width: 600px;
    white-space: pre-wrap;
}

.client-review-buttons {
    margin-top: 20px;
}

.client-review-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
.client-review-description-container{
    height: 350px;
}

.client-review-navigation {
    margin-top: 20px;
}

.client-review-navigation button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.client-review-stepper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.client-review-stepper span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 0 5px;
    border: 1px #5792EB solid;
}

.client-review-stepper span.active {
    background-color: #5792EB;
}

.client-review-navigation-previous{
    border: 1px black solid;
    border-radius: 30px;
    color: black;
    background-color: #5792eb00;
}
.client-review-navigation-next{
    border: none;
    border-radius: 30px;
    background-color: #5792EB;
    color: white;
}