.imageWithText {
    
    height: max-content;

    position: relative;

    > img {
        width: 100%;
        height: 100%;
        user-select: none;

        max-height: 400px;
        object-fit: cover;
        object-position: middle;
    }

    .dim {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) -6.34%, rgba(0, 0, 0, 0.2) 90.71%);
    }

    .image-text {
        z-index: 1;

        position : absolute;
        bottom: 0px;
        left: 0px;

        height: 100%;
        width: 100%;

        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;

        h2, h3 {
            padding: 0 0px;

            @media (min-width: 1500px) {
                padding: 0px 80px;
            }
        
            @media (min-width: 1700px) {
                padding: 0px 130px;
            }
        
            @media (min-width: 1900px) {
                padding: 0px 180px;
            }

            font-family: Ubuntu;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
        }

        > div {
            padding: 0 70px;

            @media (min-width: 1500px) {
                padding: 0px 150px;
            }
        
            @media (min-width: 1700px) {
                padding: 0px 200px;
            }
        
            @media (min-width: 1900px) {
                padding: 0px 250px;
            }
        }
        > div > div {
            width: 140px;
            height: 20px;
            // border: 1px solid red;
        }

        .v2 {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        > p {
            font-family: Ubuntu;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;

            padding: 0px 70px 80px 70px;

            @media (min-width: 1500px) {
                padding: 0px 150px 80px 150px;
            }
        
            @media (min-width: 1700px) {
                padding: 0px 200px 80px 200px;
            }
        
            @media (min-width: 1900px) {
                padding: 0px 250px 80px 250px;
            }

            width: 850px;
        }
    }
}