.game-quiz {
    padding-left: 32px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 34px;

    padding-bottom: 20px;

    border-bottom: rgba($color: #1F3C88, $alpha: .70) 1px solid;

    .question {
        .question-text {
            font-size: 16px;
            line-height: 110%;
            margin-bottom: 16px;
        }

        .answers {
            padding-left: 5px;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
            gap: 8px;

            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                &.active > span {
                    background-color: #1A2751;
                }

                span {
                    width: 20px;
                    height: 20px;
                    padding: 10px;
                    box-sizing: border-box;

                    border: 1px solid #1A2751;
                    border-radius: 50%;

                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    > * {
                        color: #FFF;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    
}