.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .tab-and-content {
        display: flex;
        height: 100%;
        .creation-left-bar {
            width: 242px;
            // height: 100%;
            box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.05);
            font-family: Ubuntu;
            font-style: normal;
            line-height: normal;
    
            display: flex;
            flex-direction: column;
            gap: 15px;
    
            padding: 40px 40px 0px 40px;
    
            .title {
                color: #374761;
                font-size: 24px;
                font-weight: 700;
            }
    
            .steps {
                .step {
                    display: flex;
                    align-items: center;
                    gap: 4px;
    
                    color: rgba(55, 71, 97, 0.50);
    
                    .step-button {
                        width: 14px;
                        height: 14px;
                        border-radius: 14px;
                        fill: #FFF;
                        stroke-width: 1px;
                        border: 1px solid rgba(55, 71, 97, 0.50);
                    }
                    .step-title {
                        font-size: 18px;
                        font-weight: 400;
                    }
                    
                }
                .active {
                    color: #374761;
                    .step-button {
                        border: 1px solid #374761;
                    }
                }
            }
    
            .save-course-button {
                cursor: pointer;

                display: flex;
                align-items: center;
                gap: 7px;
                width: 189px;
                padding: 8px 8px 8px 8px;
    
                border-radius: 5px;
                background: #374761;
                
                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                }
                &:hover {
                    background: #374761a9;
                }
            }
        }

    }
}
