.QuizCard-container {
    width: 295px;
    height: 430px;
    background-color: #B3C9EA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.disabled {
        background-color: #cccccc;
        pointer-events: none;
    }

    .QuizCard-wrapper {
        perspective: 1000px;
        width: 250px;
        height: 370px;
        margin: 20px;
        cursor: pointer;

        .QuizCard {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.8s;

            .QuizCard-face {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #1F3C88;
                border-radius: 30px;
                padding: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.4s, opacity 0.2s ease-in-out;

                &.front {
                    background: #B3C9EA;
                    transform: rotateY(0deg);
                }

                &.back {
                    background: #ffffff;
                    transform: rotateY(180deg);
                }
            }

            &.flipped {
                .front {
                    transform: rotateY(-180deg);
                }
                .back {
                    transform: rotateY(0deg);
                }
            }
        }
    }
}

.logo {
    &.large {
        width: 80%;
    }

    &.small {
        width: 50px;
        margin-bottom: 20px;
    }
}

.buttons {
    margin-top: 70px;
    display: flex;
    gap: 20px;

    .buttonsDiv {
        border: 1px solid #7A8199;
        border-radius: 3px;
        padding: 5px 17px;
        background-color: #F3F3F3;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.icon-button {
    min-width: 40px;
    padding: 5px;
    font-size: 24px;
}
