.dossier-container {
  width: 90%;
  padding: 100px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header-background {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
}

.dossier-header {
  background-color: #1a2751;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
}

.client-info,
.operation-section,
.risk-section,
.type-section,
.product-section,
.rank-section {
  background-color: #f0f0f0;
  padding: 20px;
}

.client-info h2,
.operation-section h2,
.risk-section h2 {
  color: #1a2751;
}

.info-section,
.info-section-row {
  display: flex;
  justify-content: space-between;
}
.info-section-row .input-group input {
  width: 45% !important; 
}

.info-section-row {
  flex-direction: column;
}

.form-fields {
  flex: 1;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 20px;
}

.input-group label {
  max-width: 80%;
  margin-right: 10px;
}

.input-group input {
  border: none;
  height: 10px;
  width: 30%;
  background-color: #d9d9d9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.avatar-container-dossier {
  flex: 0 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container-dossier img {
  width: 120%;
  margin: 20px 90px 20px 0;
  height: 100%;
}

.footer-strip {
  background-color: #1a2751;
  height: 10px;
}

.custom-radio {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #5792EB;
  border-radius: 50%;
  margin-right: 8px;
  background-color: white;
}

.custom-radio input[type="radio"]:checked + .custom-radio-icon {
  background-color: #5792eb;
}

.custom-radio-icon svg {
  width: 20px;
  height: 20px;
  color: white;
}

.radio-group {
  display: flex;
  margin: 20px;
}

.radio-group p {
  margin-right: 20px;
}
