.courses__headline {
    color: #3A3939;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.coursesContent {
    /* max-width: 1240px; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #F9F9F9;
    padding: 15px;
}

.tabHeader {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    gap: 20px;
    /* max-width: 1109px; */
    width: 100%;
    height: 210px;
    align-items: center;
    cursor: pointer;
    /* height: 347px; */
}

@media screen and (max-width: 768px) {
    .tabHeader {
        flex-wrap: wrap;
    }

    .btnTab {
        width: 100%; /* Full width for a single tab in a row */
        margin-bottom: 10px; /* Adjust the margin between tabs */
    }
}

/* Media query for screens with a maximum width of 480px */
@media screen and (max-width: 480px) {
    .btnTab {
        height: auto; /* Allow tabs to take the height based on content */
    }

    .more {
        position: static; /* Reset the position for smaller screens */
        margin-top: 15px; /* Add margin between the text and button */
    }
    .tabHeader {
        overflow-x: hidden; /* Hide horizontal overflow for smaller screens */
    }
}

.tabContent {
    position: relative;
    margin-top: 15px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 10px;
    /* max-width:1209px; */
    width: 97.5%;
    min-height: 247px;
}

.courses__info {
    display: flex;
    flex-direction: column;
}

.course__headline {
    color: #000;
    font-size: 26px;
    font-weight: 500;
}

.course__text {
    margin-top: 15px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    
    /* overflow: hidden; Hide the overflowing text */
    /* text-overflow: ellipsis; Add the ellipsis (...) */
    /* white-space: nowrap; Prevent the text from wrapping */
}

.btnTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 205px;
    justify-content: center;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    text-align: center;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}

.btnTab:hover {
    background: #E0E0E0;
    transform: scale(1.05);
}

.btnTab:focus{
    background: #F9F9F9;
    outline: none !important;
    border: none;
    transform: scale(1);
    color: #000000;
}

.more {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.btnTab.active {
    background: #D0D0D0;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    color: #03094e;
    width: 100%;
}
.btnTab img {
    width: 18%;
}

.nameTab {
    margin-top: 10px;
}